#
# Default location of link barebox Image on M68k/Coldfire
#
config ARCH_TEXT_BASE
	hex
	default 0x07f00000 if MACH_MCF54xx
	default 0x07f00000 if MACH_MCF5445x
	help
		Vector table for M68k and barebox Link Address

		On M68k/Coldfire cores all exceptions and interrupts are routed through
		a vector array. This vector is by default at address 0x0000_0000, but
		can be moved to any other 1MB aligned address.

		We take advantage of this to move barebox out of low memory. Some BDM
		debuggers won't like a moved vector base and might need tweaking to
		work.

		Note: Respect alignment restrictions for TEXT_BASE, which must be
		      1MB aligned (VBR register constrain).

#
# Internal configurations
#
config BOARDINFO
	default "konzeptpark UKD Prototype with Phycore MCF5485" if MACH_KPUKDR1
	default "konzeptpark UKD Prototype with Phycore MCF5475 NUM" if MACH_KPUKDR1_NUM
	default "konzeptpark UKD Revision 2 with Phycore MCF5485" if MACH_KPUKDR2
	default "konzeptpark UKD Revision 2 with Phycore MCF5475 NUM" if MACH_KPUKDR2_NUM
	default "Phytec Baseboard with Phycore MCF5485" if MACH_PCM982_5485
	default "Phytec Baseboard with Phycore MCF5475" if MACH_PCM982_5475
	default "Phytec Baseboard with Phycore MCF5475 NUM" if MACH_PCM982_5475_NUM
	default "Phytec Baseboard with Phycore MCF54455" if MACH_PCM982_54455
	default "!No boardinfo string set!"

config HAS_EARLY_INIT
	bool
	default n

config BOARD_LINKER_SCRIPT
	bool
	default n

config GENERIC_LINKER_SCRIPT
	bool
	default y
	depends on !BOARD_LINKER_SCRIPT

config M68K
	bool
	select HAS_KALLSYMS
	select HAS_MODULES
	default y

config MCFV4E
	bool

config MCFV4M
	bool

config ARCH_MCF54xx
	bool
	select MCFV4E

config ARCH_MCF5445x
	bool
	select MCFV4M

#
# Board selection
#
choice
	prompt "Select your board"

config MACH_KPUKDR1
	bool "konzeptpark UKD R1 + phyCore MCF5485"
	select HAS_CFI
	select ARCH_MCF54xx
	help
	  Say Y here if you are using the konzeptpark UKD R1 with a
	  Phytec Phycore PCM-024 equipped with a Freescale MC5485 Processor

config MACH_KPUKDR1_NUM
	bool "konzeptpark UKD R1 + phyCore MCF5475 NUM"
	select HAS_CFI
	select ARCH_MCF54xx
	select MACH_HAS_LOWLEVEL_INIT
	help
	  Say Y here if you are using the konzeptpark UKD R1 with a
	  Phytec Phycore PCM-024-NUM equipped with a Freescale MC5475 Processor

config MACH_KPUKDR2
	bool "konzeptpark UKD R2 + phyCore MCF5485"
	select HAS_CFI
	select ARCH_MCF54xx
	help
	  Say Y here if you are using the konzeptpark UKD R2 with a
	  Phytec Phycore PCM-024 equipped with a Freescale MC5485 Processor

config MACH_KPUKDR2_NUM
	bool "konzeptpark UKD R2 + phyCore MCF5475 NUM"
	select HAS_CFI
	select ARCH_MCF54xx
	help
	  Say Y here if you are using the konzeptpark UKD R2 with a
	  Phytec Phycore PCM-024-NUM equipped with a Freescale MC5475 Processor

config MACH_PCM982_5485
	bool "Phytec pcm982 + phyCore MCF5485"
	select HAS_CFI
	select ARCH_MCF54xx
	select MACH_HAS_LOWLEVEL_INIT
	help
	  Say Y here if you are using the Phytec Phycore PCM-024 equipped
	  with a Freescale MC5485 Processor

config MACH_PCM982_5475
	bool "Phytec pcm982 + phyCore MCF5475"
	select HAS_CFI
	select ARCH_MCF54xx
	select MACH_HAS_LOWLEVEL_INIT
	help
	  Say Y here if you are using the Phytec Phycore PCM-024 equipped
	  with a Freescale MC5475 Processor

config MACH_PCM982_5475_NUM
	bool "Phytec pcm982 + phyCore MCF5475 NUM"
	select HAS_CFI
	select ARCH_MCF54xx
	select MACH_HAS_LOWLEVEL_INIT
	help
	  Say Y here if you are using the Phytec Phycore PCM-024 equipped
	  with a Freescale MC5475 Processor (NUM Variant)

config MACH_PCM982_54455
	bool "Phytec pcm982 + phyCore MCF54455 (experimental)"
	select HAS_CFI
	select ARCH_MCF5445x
	help
	  Say Y here if you are using the Phytec Phycore PCM-mcf54455 equipped
	  with a Freescale MC54455 Processor (experimental)

endchoice

#
# M68k/Coldfire Subarch Configuration
#
source arch/m68k/mach-mcfv4e/Kconfig

menu "M68k/Coldfire specific Linux boot settings"

config CMDLINE_TAG
	bool "Send commandline to kernel"
	default y
	help
	  If you want to start a 2.6 kernel say y here.

config SETUP_MEMORY_TAGS
	bool "send memory definition to kernel"
	default y
	help
	  If you want to start a 2.6 kernel say y here.

config INITRD_TAG
	bool "send initrd params to kernel"
	default n
	help
	  If you want to start a 2.6 kernel and use an
	  initrd image say y here.

endmenu

#
# Common barebox options
#

source common/Kconfig
source commands/Kconfig
source net/Kconfig
source drivers/Kconfig
source fs/Kconfig
source lib/Kconfig
