# SPDX-License-Identifier: GPL-2.0-only
menu "Memory controller drivers"

config ATMEL_EBI
	bool "Atmel EBI driver"
	default y if ARCH_AT91
	depends on ARCH_AT91 || COMPILE_TEST
	depends on OFDEVICE
	select MFD_SYSCON
	select MFD_ATMEL_SMC
	help
	  Driver for Atmel EBI controller.
	  Used to configure the EBI (external bus interface) when the device-
	  tree is used. This bus supports NANDs, external ethernet controller,
	  SRAMs, ATA devices, etc.


config MC_TEGRA124
	bool "Support for Tegra124 memory controller"
	depends on ARCH_TEGRA || COMPILE_TEST
	help
	  Say yes here to include the driver for the memory controller found on
	  the Tegra124 SoC. This driver performs the necessary initialization
	  to provide a function GPU when the OS is running.

config STM32_FMC2_EBI
	bool "Support for FMC2 External Bus Interface on STM32MP SoCs"
	depends on ARCH_STM32MP || COMPILE_TEST
	select RESET_CONTROLLER if ARCH_STM32MP
	select RESET_SIMPLE if ARCH_STM32MP
	help
	  Select this option to enable the STM32 FMC2 External Bus Interface
	  controller. This driver configures the transactions with external
	  devices (like SRAM, ethernet adapters, FPGAs, LCD displays, ...) on
	  SOCs containing the FMC2 External Bus Interface.

endmenu
