# SPDX-License-Identifier: GPL-2.0-or-later
if ARCH_ZYNQMP

config MACH_XILINX_ZCU104
	bool "Xilinx Zynq UltraScale+ MPSoC ZCU104"
	help
	  Say Y here if you are using the Xilinx Zynq UltraScale+ MPSoC ZCU104
	  evaluation board.

endif
