config HW_HAS_PCI
	bool

if HW_HAS_PCI

menu "PCI bus options"

config PCI
	bool "Support for PCI controller"
	depends on HW_HAS_PCI
	help
	  Find out whether you have a PCI motherboard. PCI is the name of a
	  bus system, i.e. the way the CPU talks to the other stuff inside
	  your box. If you have PCI, say Y, otherwise N.


config PCI_DEBUG
	bool "PCI Debugging"
	depends on PCI
	help
	  Say Y here if you want the PCI core to produce a bunch of debug
	  messages to the system log.  Select this if you are having a
	  problem with PCI support and want to see more of what is going on.

	  When in doubt, say N.

config PCIE_DW
	bool

config PCI_MVEBU
	bool "Marvell EBU PCIe driver"
	depends on ARCH_MVEBU
	select OF_PCI
	select PCI

config PCI_TEGRA
	bool "NVDIA Tegra PCIe driver"
	depends on ARCH_TEGRA
	select OF_ADDRESS_PCI
	select OF_PCI
	select PCI

config PCI_IMX6
	bool "Freescale i.MX6 PCIe controller"
	depends on ARCH_IMX6
	select PCIE_DW
	select OF_PCI
	select PCI

endmenu

endif
