# SPDX-License-Identifier: GPL-2.0-only
config HW_HAS_PCI
	bool "Compile in PCI core" if COMPILE_TEST

if HW_HAS_PCI

menu "PCI bus options"

config PCI
	bool "Support for PCI controller"
	depends on HW_HAS_PCI
	help
	  Find out whether you have a PCI motherboard. PCI is the name of a
	  bus system, i.e. the way the CPU talks to the other stuff inside
	  your box. If you have PCI, say Y, otherwise N.


config PCI_DEBUG
	bool "PCI Debugging"
	depends on PCI
	help
	  Say Y here if you want the PCI core to produce a bunch of debug
	  messages to the system log.  Select this if you are having a
	  problem with PCI support and want to see more of what is going on.

	  When in doubt, say N.

config PCIE_DW
	bool

config PCI_MVEBU
	bool "Marvell EBU PCIe driver"
	depends on ARCH_MVEBU
	select OF_PCI
	select PCI

config PCI_TEGRA
	bool "NVDIA Tegra PCIe driver"
	depends on ARCH_TEGRA
	select OF_ADDRESS_PCI
	select OF_PCI
	select PCI

config PCI_IMX6
	bool "Freescale i.MX6/7/8 PCIe controller"
	depends on ARCH_IMX6 || ARCH_IMX7 || ARCH_IMX8MQ
	select PCIE_DW
	select OF_PCI
	select PCI

config PCI_LAYERSCAPE
	bool "Freescale Layerscape PCIe controller"
	depends on ARCH_LAYERSCAPE || COMPILE_TEST
	select PCIE_DW
	select OF_PCI
	select PCI

config PCI_ROCKCHIP
	bool "Rockchip PCIe controller"
	depends on ARCH_ROCKCHIP
	select PCIE_DW
	select OF_PCI
	select PCI

config PCI_EFI
	bool "EFI PCI protocol"
	depends on EFI_BOOTUP
	select PCI

config PCI_ECAM_GENERIC
	bool "Generic ECAM-based PCI host controller support"
	select OF_PCI
	select PCI
	help
	  Say Y here if you want to enable support for generic ECAM-based
	  PCI host controllers, such as the one emulated by QEMU.

endmenu

endif
