if ARCH_STM32MP

config ARCH_NR_GPIO
	int
	default 416

config ARCH_STM32MP157
	select ARM_PSCI_CLIENT
	bool

config MACH_STM32MP15XX_DKX
	select ARCH_STM32MP157
	bool "STM32MP157 DK1 and DK2 boards"
	help
	  builds a single barebox-stm32mp15xx-dkx.img that can be deployed
	  as SSBL on both the stm32mp157a-dk1 and stm32mp157c-dk2

config MACH_LXA_MC1
	select ARCH_STM32MP157
	bool "Linux Automation MC-1 board"

config MACH_SEEED_ODYSSEY
	select ARCH_STM32MP157
	bool "Seeed Studio Odyssey"

endif
