
config ARCH_IMX
	bool

config ARCH_HAS_FEC_IMX
	bool

config ARCH_IMX1
	bool
	select ARCH_IMX
	select ARM920T

config ARCH_IMX25
	bool
	select ARCH_IMX
	select ARM926EJS
	select ARCH_HAS_FEC_IMX

config ARCH_IMX21
	bool
	select ARCH_IMX
	select ARM926EJS

config ARCH_IMX27
	bool
	select ARCH_IMX
	select ARM926EJS
	select ARCH_HAS_FEC_IMX

config ARCH_IMX31
	bool
	select ARCH_IMX

config ARCH_IMX35
	bool
	select ARCH_IMX
	select ARCH_HAS_FEC_IMX

if ARCH_IMX

menu "Board specific settings       "

if MACH_PCM037
choice
	prompt "SDRAM Bank0"
config PCM037_SDRAM_BANK0_128MB
	bool "128MB"
config PCM037_SDRAM_BANK0_256MB
	bool "256MB"
endchoice

choice
	prompt "SDRAM Bank1"
config PCM037_SDRAM_BANK1_NONE
	bool "none"
config PCM037_SDRAM_BANK1_128MB
	bool "128MB"
config PCM037_SDRAM_BANK1_256MB
	bool "256MB"
endchoice
endif

endmenu

menu "i.MX specific settings        "

config IMX_CLKO
	bool "clko command"
	depends on ARCH_IMX21 || ARCH_IMX27 || ARCH_IMX35
	help
	  The i.MX SoCs have a Pin which can output different reference frequencies.
	  Say y here if you want to have the clko command which lets you select the
	  frequency to output on this pin.
endmenu

endif
