#
# Misc strange devices
#
menuconfig AIODEV
	bool "Analog I/O drivers"

if AIODEV

config IMX_THERMAL
	tristate "Temperature sensor driver for Freescale i.MX SoCs"
	depends on ARCH_IMX6
	select MFD_SYSCON
	select NVMEM
	select IMX_OCOTP
	help
         Support for Temperature Monitor (TEMPMON) found on Freescale
         i.MX SoCs.

config QORIQ_THERMAL
	tristate "QorIQ Thermal Monitoring Unit"
	depends on ARCH_IMX8MQ
	help
	  Support for Thermal Monitoring Unit (TMU) found on QorIQ and
	  i.MX8MQ platforms.

config LM75
	tristate "LM75 driver"
	depends on I2C
	help
	  Support for LM75 and similar devices

config MC13XXX_ADC
	tristate "MC13XXX ADC driver"
	depends on MFD_MC13XXX
	help
	  Support for MC13783, MC13892, MC34708 ADC

endif
