config GPIOLIB
	bool
	select GENERIC_GPIO

if GPIOLIB

menu "GPIO"

config GPIO_GENERIC
	bool

config GPIO_DIGIC
	bool "GPIO support for Canon DIGIC"
	depends on ARCH_DIGIC

config GPIO_74164
	bool "Generic SPI attached shift register"
	depends on SPI
	help
	  Driver for 74x164 compatible serial-in/parallel-out 8-outputs
	  shift registers. This driver can be used to provide access
	  to more gpio outputs.

config GPIO_CLPS711X
	bool "GPIO support for CLPS711X"
	depends on ARCH_CLPS711X
	select GPIO_GENERIC
	help
	  Say yes here to enable the GPIO driver for the CLPS711X CPUs

config GPIO_DAVINCI
	bool "TI Davinci/Keystone GPIO support"
	default y if ARCH_DAVINCI
	depends on ARM && ARCH_DAVINCI
	help
	  Say yes here to enable GPIO support for TI Davinci/Keystone SoCs.

config GPIO_GENERIC_PLATFORM
	bool "Generic memory-mapped GPIO controller support"
	select GPIO_GENERIC
	help
	  Say yes here to support basic platform memory-mapped
	  GPIO controllers

config GPIO_IMX
	def_bool ARCH_IMX

config GPIO_VF610
	def_bool ARCH_VF610

config GPIO_MXS
	def_bool ARCH_MXS

config GPIO_JZ4740
	bool "GPIO support for Ingenic SoCs"
	depends on MACH_MIPS_XBURST
	help
	  Say yes here to enable the GPIO driver for the Ingenic SoCs.

config GPIO_MALTA_FPGA_I2C
	bool "Malta CBUS FPGA I2C GPIO"
	depends on MACH_MIPS_MALTA
	help
	  Support access to the CBUS FPGA I2C lines through the gpio library.

	  This driver provides common support for accessing the device,
	  additional drivers must be enabled in order to use the
	  functionality of the device.

config GPIO_MPC8XXX
	bool "MPC512x/MPC8xxx/QorIQ GPIO support"
	depends on ARCH_LAYERSCAPE
	select GPIO_GENERIC
	help
	  Say Y here if you're going to use hardware that connects to the
	  MPC512x/831x/834x/837x/8572/8610/QorIQ GPIOs.

config GPIO_OMAP
	def_bool ARCH_OMAP

config GPIO_ORION
	bool "GPIO support for Marvell Orion/MVEBU SoCs"
	depends on ARCH_MVEBU
	help
	  Say yes here to add the driver for the GPIO controller
	  found on Marvell Orion and MVEBU SoCs (Armada 370/XP,
	  Dove, Kirkwood, MV78x00, Orion5x).

config GPIO_PCA953X
	bool "PCA95[357]x, PCA9698, TCA64xx, and MAX7310 I/O ports"
	depends on I2C
	help
	  Say yes here to provide access to several register-oriented
	  SMBus I/O expanders, made mostly by NXP or TI.  Compatible
	  models include:

	  4 bits:  pca9536, pca9537

	  8 bits:  max7310, max7315, pca6107, pca9534, pca9538, pca9554,
	           pca9556, pca9557, pca9574, tca6408, xra1202

	  16 bits: max7312, max7313, pca9535, pca9539, pca9555, pca9575,
	           tca6416

	  24 bits: tca6424

	  40 bits: pca9505, pca9698

config GPIO_PCF857X
	tristate "PCF857x, PCA{85,96}7x, and MAX732[89] I2C GPIO expanders"
	depends on I2C
	depends on OFDEVICE
	help
	  Say yes here to provide access to most "quasi-bidirectional" I2C
	  GPIO expanders used for additional digital outputs or inputs.
	  Most of these parts are from NXP, though TI is a second source for
	  some of them.  Compatible models include:

	  8 bits:   pcf8574, pcf8574a, pca8574, pca8574a,
	            pca9670, pca9672, pca9674, pca9674a,
	  	    max7328, max7329

	  16 bits:  pcf8575, pcf8575c, pca8575,
	            pca9671, pca9673, pca9675

config GPIO_PL061
	bool "PrimeCell PL061 GPIO support"
	depends on ARM_AMBA
	help
	  Say yes here to support the PrimeCell PL061 GPIO device

config GPIO_STMPE
	depends on MFD_STMPE
	bool "STMPE GPIO Expander"

config GPIO_TEGRA
	bool "GPIO support for the Tegra SoCs"
	depends on ARCH_TEGRA
	help
	  Say yes here to include the driver for the GPIO controller found on the
	  Tegra line of SoCs.

config GPIO_DESIGNWARE
	tristate "Synopsys DesignWare GPIO driver"
	help
	  Say Y or M here to build support for the Synopsys DesignWare APB
	  GPIO block.

config GPIO_SX150X
	bool "Semtec SX150x I/O ports"
	depends on I2C
	help
	  Say Y here to build support for the Semtec Sx150x I2C GPIO
	  expander chip.

config GPIO_LIBFTDI1
	bool "libftdi1 driver"
	depends on SANDBOX

endmenu

endif
