config GPIOLIB
	bool
	select GENERIC_GPIO

if GPIOLIB

menu "GPIO"

config GPIO_GENERIC
	bool

config GPIO_BCM2835
	bool "GPIO support for BCM2835"
	depends on ARCH_BCM2835

config GPIO_CLPS711X
	bool "GPIO support for CLPS711X"
	depends on ARCH_CLPS711X
	select GPIO_GENERIC
	help
	  Say yes here to enable the GPIO driver for the CLPS711X CPUs

config GPIO_GENERIC_PLATFORM
	bool "Generic memory-mapped GPIO controller support"
	select GPIO_GENERIC
	help
	  Say yes here to support basic platform memory-mapped
	  GPIO controllers

config GPIO_IMX
	def_bool ARCH_IMX

config GPIO_ORION
	bool "GPIO support for Marvell Orion/MVEBU SoCs"
	depends on ARCH_MVEBU
	help
	  Say yes here to add the driver for the GPIO controller
	  found on Marvell Orion and MVEBU SoCs (Armada 370/XP,
	  Dove, Kirkwood, MV78x00, Orion5x).

config GPIO_PL061
	bool "PrimeCell PL061 GPIO support"
	depends on ARM_AMBA
	help
	  Say yes here to support the PrimeCell PL061 GPIO device

config GPIO_STMPE
	depends on MFD_STMPE
	bool "STMPE GPIO Expander"

config GPIO_TEGRA
	bool "GPIO support for the Tegra SoCs"
	depends on ARCH_TEGRA
	help
	  Say yes here to include the driver for the GPIO controller found on the
	  Tegra line of SoCs.

config GPIO_DESIGNWARE
	tristate "Synopsys DesignWare GPIO driver"
	help
	  Say Y or M here to build support for the Synopsys DesignWare APB
	  GPIO block.
endmenu

endif
