# SPDX-License-Identifier: GPL-2.0-only
#
# PHY
#

menuconfig GENERIC_PHY
	bool "PHY Core"
	help
	  Generic PHY support.

	  This framework is designed to provide a generic interface for PHY
	  devices present in the kernel. This layer will have the generic
	  API by which phy drivers can create PHY using the phy framework and
	  phy users can obtain reference to the PHY. All the users of this
	  framework should select this config.

if GENERIC_PHY

config USB_NOP_XCEIV
	bool "Generic USB nop phy"
	help
	  This driver is to be used by all the usb transceiver which are either
	  built-in with usb ip or which are autonomous and doesn't require any
	  phy programming such as ISP1x04 etc.

source "drivers/phy/freescale/Kconfig"
source "drivers/phy/rockchip/Kconfig"

config PHY_STM32_USBPHYC
	tristate "STM32 USB HS PHY Controller"
	depends on ARCH_STM32MP || COMPILE_TEST
	depends on COMMON_CLK
	help
	  Enable this to support the High-Speed USB transceivers that are part
	  of some STMicroelectronics STM32 SoCs.

	  This driver controls the entire USB PHY block: the USB PHY controller
	  (USBPHYC) and the two 8-bit wide UTMI+ interfaces. First interface is
	  used by an HS USB Host controller, and the second one is shared
	  between an HS USB OTG controller and an HS USB Host controller,
	  selected by a USB switch.

endif
