menuconfig VIDEO
	bool "Video drivers"
	help
	  Add support for framebuffer and splash screens

if VIDEO

config FRAMEBUFFER_CONSOLE
	bool
	depends on !CONSOLE_NONE
	select IMAGE_RENDERER
	select FONTS
	prompt "framebuffer console support"

config VIDEO_VPL
	depends on OFTREE
	bool

config DRIVER_VIDEO_ATMEL
	bool "Atmel LCDC framebuffer driver"
	depends on ARCH_AT91

config DRIVER_VIDEO_ATMEL_HLCD
	bool "Atmel HLCDC framebuffer driver"
	depends on ARCH_AT91

config DRIVER_VIDEO_IMX
	bool "i.MX framebuffer driver"
	depends on ARCH_IMX1 || ARCH_IMX21 || ARCH_IMX25 || ARCH_IMX27

config IMXFB_DRIVER_VIDEO_IMX_OVERLAY
	bool "i.MX framebuffer overlay support"
	depends on DRIVER_VIDEO_IMX && (ARCH_IMX27 || ARCH_IMX25 || ARCH_IMX21)

config DRIVER_VIDEO_IMX_IPU
	bool "i.MX31/35 framebuffer driver"
	depends on ARCH_IMX35 || ARCH_IMX31
	help
	  Add support for the IPU framebuffer device found on
	  i.MX31 and i.MX35 CPUs.

config DRIVER_VIDEO_IMX_IPU_OVERLAY
	bool "i.MX31/35 framebuffer overlay support"
	depends on DRIVER_VIDEO_IMX_IPU && (ARCH_IMX35 || ARCH_IMX31)

config DRIVER_VIDEO_STM
	bool "i.MX23/28 framebuffer driver"
	depends on ARCH_MXS
	help
	  Say 'Y' here to enable framebuffer and splash screen support for
	  i.MX23 and i.MX28 based systems.

config DRIVER_VIDEO_S3C24XX
	bool "S3C244x framebuffer driver"
	depends on ARCH_S3C24xx
	help
	  Add support for the S3C244x LCD controller.

config DRIVER_VIDEO_OMAP
	bool "OMAP framebuffer driver"
	depends on ARCH_OMAP4
	help
	  Add support for OMAP Display Controller. Currently this
	  driver only supports OMAP4 SoCs in DISPC parallel mode on
	  LCD2 (MIPI DPI).

if DRIVER_VIDEO_S3C24XX

config DRIVER_VIDEO_S3C_VERBOSE
	bool "S3C244x verbose framebuffer info"

endif

config DRIVER_VIDEO_SDL
	bool "SDL framebuffer driver"
	depends on SANDBOX

config DRIVER_VIDEO_PXA
	bool "PXA27x framebuffer driver"
	depends on ARCH_PXA27X
	help
	  Add support for the frame buffer device found on the PXA270
	  CPU.

config DRIVER_VIDEO_BCM283X
	bool "BCM283X framebuffer driver"
	depends on ARCH_BCM283X
	help
	  Add support for the BCM283X/VideoCore frame buffer device.

source drivers/video/imx-ipu-v3/Kconfig

config DRIVER_VIDEO_SIMPLEFB
	bool "Simple framebuffer support"
	depends on OFTREE
	help
	  Add support for setting up the kernel's simple framebuffer driver
	  based on the active barebox framebuffer.

config DRIVER_VIDEO_EDID
	depends on I2C
	bool "Add EDID support"
	help
	  This enabled support for reading and parsing EDID data from an attached
	  monitor.

config DRIVER_VIDEO_BACKLIGHT
	bool "Add backlight support"
	help
	  Enable this for backlight support.

config DRIVER_VIDEO_BACKLIGHT_PWM
	bool "PWM backlight support"
	depends on PWM && GPIOLIB
	depends on DRIVER_VIDEO_BACKLIGHT
	help
	  Enable this to get support for backlight devices driven by a PWM.

comment "Video encoder chips"

config DRIVER_VIDEO_MTL017
	bool "MTL017 LVDS encoder"
	select VIDEO_VPL
	depends on I2C
	depends on OFTREE
	help
	  The MTL017 is a parallel to lvds video encoder chip found on the
	  Efika MX Smartbook.

config DRIVER_VIDEO_TC358767
	bool "TC358767A Display Port encoder"
	select VIDEO_VPL
	depends on DRIVER_VIDEO_EDID
	depends on I2C
	depends on OFTREE
	help
	  The TC358767A is a DSI/DPI to eDP video encoder chip

config DRIVER_VIDEO_SIMPLE_PANEL
	bool "Simple panel support"
	select VIDEO_VPL
	depends on OFTREE && OFDEVICE
	help
	  This enabled support for simple panels, i.e. panels which consist of
	  a mode definition and enable gpios in the devicetree. Unlike the
	  Linux Kernel implementation this one is able to understand display-timings
	  nodes so that it's not necessary to keep a list of all known displays
	  with their corresponding timings in barebox.
endif
