menuconfig VIDEO
	bool "Video drivers"
	help
	  Add support for framebuffer and splash screens

if VIDEO

config DRIVER_VIDEO_ATMEL
	bool "Atmel LCDC framebuffer driver"
	depends on ARCH_AT91

config DRIVER_VIDEO_ATMEL_HLCD
	bool "Atmel HLCDC framebuffer driver"
	depends on ARCH_AT91

config DRIVER_VIDEO_IMX
	bool "i.MX framebuffer driver"
	depends on ARCH_IMX1 || ARCH_IMX21 || ARCH_IMX25 || ARCH_IMX27

config IMXFB_DRIVER_VIDEO_IMX_OVERLAY
	bool "i.MX framebuffer overlay support"
	depends on DRIVER_VIDEO_IMX && (ARCH_IMX27 || ARCH_IMX25 || ARCH_IMX21)

config DRIVER_VIDEO_IMX_IPU
	bool "i.MX31/35 framebuffer driver"
	depends on ARCH_IMX35 || ARCH_IMX31
	help
	  Add support for the IPU framebuffer device found on
	  i.MX31 and i.MX35 CPUs.

config DRIVER_VIDEO_IMX_IPU_OVERLAY
	bool "i.MX31/35 framebuffer overlay support"
	depends on DRIVER_VIDEO_IMX_IPU && (ARCH_IMX35 || ARCH_IMX31)

config DRIVER_VIDEO_STM
	bool "i.MX23/28 framebuffer driver"
	depends on ARCH_MXS
	help
	  Say 'Y' here to enable framebuffer and splash screen support for
	  i.MX23 and i.MX28 based systems.

config DRIVER_VIDEO_S3C24XX
	bool "S3C244x framebuffer driver"
	depends on ARCH_S3C24xx
	help
	  Add support for the S3C244x LCD controller.

config DRIVER_VIDEO_OMAP
	bool "OMAP framebuffer driver"
	depends on ARCH_OMAP4
	help
	  Add support for OMAP Display Controller. Currently this
	  driver only supports OMAP4 SoCs in DISPC parallel mode on
	  LCD2 (MIPI DPI).

if DRIVER_VIDEO_S3C24XX

config DRIVER_VIDEO_S3C_VERBOSE
	bool "S3C244x verbose framebuffer info"

endif

config DRIVER_VIDEO_SDL
	bool "SDL framebuffer driver"
	depends on SANDBOX

config DRIVER_VIDEO_PXA
	bool "PXA27x framebuffer driver"
	depends on ARCH_PXA27X
	help
	  Add support for the frame buffer device found on the PXA270
	  CPU.

endif
