CONFIG_ARCH_S5PCxx=y
CONFIG_CPU_V7=y
CONFIG_CPU_32v7=y
CONFIG_ARCH_BAREBOX_MAX_BARE_INIT_SIZE=0x1ff0
CONFIG_ARCH_SAMSUNG=y
CONFIG_CPU_S5PV210=y
CONFIG_MACH_TINY210=y
CONFIG_S3C_LOWLEVEL_INIT=y
CONFIG_S3C_PLL_INIT=y
CONFIG_S3C_SDRAM_INIT=y
CONFIG_CMD_LED=y
CONFIG_CMD_LED_TRIGGER=y
CONFIG_DRIVER_SERIAL_S3C=y
CONFIG_LED=y
CONFIG_LED_GPIO=y
CONFIG_LED_TRIGGERS=y
