CONFIG_ARCH_K3=y
CONFIG_MACH_AM625_SK=y
CONFIG_MACH_BEAGLEPLAY=y
CONFIG_AEABI=y
CONFIG_ARM_OPTIMZED_STRING_FUNCTIONS=y
# CONFIG_BOARD_GENERIC_DT is not set
# CONFIG_MEMINFO is not set
CONFIG_NAME="k3-r5_defconfig"
CONFIG_ENVIRONMENT_VARIABLES=y
CONFIG_IMAGE_COMPRESSION_XZKERN=y
CONFIG_BAREBOX_MAX_IMAGE_SIZE=0x10000000
CONFIG_MALLOC_SIZE=0x0
CONFIG_MALLOC_TLSF=y
CONFIG_KALLSYMS=y
CONFIG_PROMPT="MLO>"
CONFIG_SHELL_NONE=y
# CONFIG_ERRNO_MESSAGES is not set
CONFIG_CONSOLE_ACTIVATE_NONE=y
CONFIG_PBL_CONSOLE=y
CONFIG_BTHREAD=y
CONFIG_DEBUG_LL=y
CONFIG_DRIVER_SERIAL_NS16550=y
# CONFIG_SPI is not set
CONFIG_I2C=y
CONFIG_I2C_OMAP=y
CONFIG_USB_HOST=y
CONFIG_USB_DWC3=y
CONFIG_USB_DWC3_GADGET=y
# CONFIG_USB_DWC3_OF_SIMPLE is not set
CONFIG_USB_GADGET=y
CONFIG_USB_GADGET_DFU=y
CONFIG_MCI=y
# CONFIG_MCI_WRITE is not set
CONFIG_MCI_MMC_BOOT_PARTITIONS=y
CONFIG_MCI_AM654=y
# CONFIG_TI_SCI_CLK is not set
CONFIG_MFD_SYSCON=y
CONFIG_MFD_TPS65219=y
CONFIG_PINCTRL_SINGLE=y
CONFIG_REGULATOR=y
CONFIG_REGULATOR_FIXED=y
CONFIG_REGULATOR_TPS65219=y
# CONFIG_VIRTIO_MENU is not set
CONFIG_MAILBOX=y
CONFIG_FS_FAT=y
