CONFIG_ARCH_MVEBU=y
CONFIG_ARCH_ARMADA_XP=y
CONFIG_MACH_MARVELL_ARMADA_XP_GP=y
CONFIG_AEABI=y
CONFIG_DEBUG_LL=y
CONFIG_CMD_LOADY=y
CONFIG_CMD_LOADS=y
CONFIG_CMD_RESET=y
CONFIG_CMD_CLK=y
CONFIG_DRIVER_SERIAL_NS16550=y
