if ARCH_ZYNQ

config ARCH_TEXT_BASE
	hex
	default 0x1ff00000 if MACH_ZEDBOARD

config ZYNQ_DEBUG_LL_UART_BASE
	hex
	default 0xe0001000 if MACH_ZEDBOARD

choice
	prompt "Xilinx Zynq type board"

config ARCH_ZYNQ7000
	bool "Zynq-7000"
	select CPU_V7
	select CLKDEV_LOOKUP
	select COMMON_CLK
	select ARM_SMP_TWD
	select HAS_MACB

endchoice

if ARCH_ZYNQ7000

choice
	prompt "Zynq-7000 Board Type"

config MACH_ZEDBOARD
	bool "Avnet Zynq-7000 ZedBoard"
	select DRIVER_SERIAL_CADENCE

endchoice
endif

endif
