config OFTREE
	select DTC
	bool

config OFTREE_MEM_GENERIC
	depends on OFTREE
	depends on PPC || ARM
	def_bool y

config DTC
	bool

config OFDEVICE
	select OFTREE
	select DTC
	bool "Enable probing of devices from the devicetree"

config OF_NET
	depends on NET
	def_bool y

config OF_BAREBOX_DRIVERS
	depends on OFDEVICE
	depends on ENV_HANDLING
	bool "Enable barebox specific devicetree configuration drivers"
	help
	  barebox supports being configured from devicetree. This enables
	  support for this feature. This currently allows to configure the
	  environment path from devicetree and to partition devices. See
	  Documentation/devicetree/bindings/barebox/ for more information.
