config OFTREE
	select DTC
	bool

config OFTREE_MEM_GENERIC
	depends on OFTREE
	depends on PPC || ARM || EFI_BOOTUP || OPENRISC || SANDBOX
	def_bool y

config DTC
	bool

config OFDEVICE
	select OFTREE
	select DTC
	bool "Enable probing of devices from the devicetree"

config OF_ADDRESS_PCI
	bool

config OF_NET
	depends on NET
	def_bool y

config OF_GPIO
	depends on GPIOLIB
	depends on OFDEVICE
	def_bool y

config OF_PCI
	bool
	depends on PCI
	select OF_ADDRESS_PCI
	help
	  OpenFirmware PCI bus accessors

config OF_BAREBOX_DRIVERS
	depends on OFDEVICE
	depends on ENV_HANDLING
	bool "Enable barebox specific devicetree configuration drivers"
	help
	  barebox supports being configured from devicetree. This enables
	  support for this feature. This currently allows to configure the
	  environment path from devicetree and to partition devices. See
	  Documentation/devicetree/bindings/barebox/ for more information.

config OF_BAREBOX_ENV_IN_FS
	depends on OF_BAREBOX_DRIVERS
	bool "Allow environment to come from file"
	help
	  Allow the devie tree configuration of the barebox environment path
	  to specify a file in filesystem, which will be mounted.
