if ARCH_AT91

config ARCH_TEXT_BASE
	hex
	default 0x73f00000 if ARCH_AT91SAM9G45
	default 0x23f00000

config BOARDINFO
	default "Atmel at91rm9200-ek" if MACH_AT91RM9200EK
	default "Atmel 91SAM9260-EK" if MACH_AT91SAM9260EK
	default "Atmel at91sam9261-ek" if MACH_AT91SAM9261EK
	default "Atmel at91sam9263-ek" if MACH_AT91SAM9263EK
	default "Atmel at91sam9g10-ek" if MACH_AT91SAM9G10EK
	default "Atmel at91sam9g20-ek" if MACH_AT91SAM9G20EK
	default "Atmel at91sam9m10g45-ek" if MACH_AT91SAM9M10G45EK
	default "Atmel at91sam9x5-ek" if MACH_AT91SAM9X5EK
	default "Bucyrus MMC-CPU" if MACH_MMCCPU
	default "Calao USB-A9260" if MACH_USB_A9260
	default "Calao USB-A9263" if MACH_USB_A9263
	default "Calao USB-A9G20" if MACH_USB_A9G20
	default "Ronetix PM9261" if MACH_PM9261
	default "Ronetix PM9263" if MACH_PM9263
	default "Ronetix PM9G45" if MACH_PM9G45
	default "Aizo dSS11" if MACH_DSS11
	default "Calao TNY-A9260" if MACH_TNY_A9260
	default "Calao TNY-A9263" if MACH_TNY_A9263
	default "Calao TNY-A9G20" if MACH_TNY_A9G20
	default "Calao QIL-A9260" if MACH_QIL_A9260

config HAVE_NAND_ATMEL_BUSWIDTH_16
	bool

config AT91SAM9_RESET
	bool

config AT91SAM9G45_RESET
	bool

comment "Atmel AT91 System-on-Chip"

choice
	prompt "Atmel AT91 Processor"

config ARCH_AT91RM9200
	bool "AT91RM9200"
	select CPU_ARM920T
	select HAS_AT91_ETHER
	select MACH_HAS_LOWLEVEL_INIT
	select MACH_DO_LOWLEVEL_INIT

config ARCH_AT91SAM9260
	bool "AT91SAM9260"
	select CPU_ARM926T
	select HAS_MACB
	select AT91SAM9_RESET

config ARCH_AT91SAM9261
	bool "AT91SAM9261"
	select CPU_ARM926T
	select AT91SAM9_RESET

config ARCH_AT91SAM9263
	bool "AT91SAM9263"
	select CPU_ARM926T
	select HAS_MACB
	select AT91SAM9_RESET

config ARCH_AT91SAM9G10
	bool "AT91SAM9G10"
	select CPU_ARM926T
	select AT91SAM9_RESET

config ARCH_AT91SAM9G20
	bool "AT91SAM9G20"
	select CPU_ARM926T
	select HAS_MACB
	select AT91SAM9_RESET

config ARCH_AT91SAM9G45
	bool "AT91SAM9G45 or AT91SAM9M10"
	select CPU_ARM926T
	select HAS_MACB
	select AT91SAM9G45_RESET

config ARCH_AT91SAM9X5
	bool "AT91SAM9X5"
	select CPU_ARM926T
	select HAS_MACB
	select AT91SAM9G45_RESET

endchoice

config ARCH_BAREBOX_MAX_BARE_INIT_SIZE
	hex
	default 0x1000 if ARCH_AT91SAM9260
	default 0x270000 if ARCH_AT91SAM9261
	default 0x12000 if ARCH_AT91SAM9263
	default 0x4000 if ARCH_AT91SAM9G20
	default 0x3000 if ARCH_AT91SAM9G10
	default 0xF000 if ARCH_AT91SAM9G45
	default 0x6000 if ARCH_AT91SAM9X5
	default 0xffffffff

config SUPPORT_CALAO_DAB_MMX
	bool

config SUPPORT_CALAO_MOB_TNY_MD2
	bool

# ----------------------------------------------------------

if ARCH_AT91RM9200

choice

	prompt "AT91RM9200 Board Type"

config MACH_AT91RM9200EK
	bool "Atmel AT91RM9200-EK Evaluation Kit"
	help
	  Select this if you are using Atmel's AT91RM9200-EK Evaluation Kit.
	  <http://www.atmel.com/dyn/products/tools_card.asp?tool_id=3507>

endchoice

endif

# ----------------------------------------------------------

if ARCH_AT91SAM9260

choice

	prompt "AT91SAM9260 Board Type"

config MACH_AT91SAM9260EK
	bool "Atmel AT91SAM9260-EK"
	select HAVE_NAND_ATMEL_BUSWIDTH_16
	help
	  Say y here if you are using Atmel's AT91SAM9260-EK Evaluation board

config MACH_QIL_A9260
	bool "CALAO QIL-A9260 board"
	help
	  Select this if you are using a Calao Systems QIL-A9260 Board.
	  <http://www.calao-systems.com>

config MACH_TNY_A9260
	bool "CALAO TNY-A9260"
	select SUPPORT_CALAO_MOB_TNY_MD2
	help
	  Select this if you are using a Calao Systems TNY-A9260.
	  <http://www.calao-systems.com>

config MACH_USB_A9260
	bool "CALAO USB-A9260"
	select SUPPORT_CALAO_DAB_MMX
	help
	  Select this if you are using a Calao Systems USB-A9260.
	  <http://www.calao-systems.com>

endchoice

endif

# ----------------------------------------------------------

if ARCH_AT91SAM9261

choice
	prompt "AT91SAM9261 Board Type"

config MACH_AT91SAM9261EK
	bool "Atmel AT91SAM9261-EK Evaluation Kit"
	select HAS_DM9000
	select HAVE_NAND_ATMEL_BUSWIDTH_16
	help
	  Select this if you are using Atmel's AT91SAM9261-EK Evaluation Kit.
	  <http://www.atmel.com/dyn/products/tools_card.asp?tool_id=3820>

config MACH_PM9261
	bool "Ronetix PM9261"
	select HAS_DM9000
	select MACH_HAS_LOWLEVEL_INIT
	help
	  Say y here if you are using the Ronetix PM9261 Board

endchoice

endif

# ----------------------------------------------------------

if ARCH_AT91SAM9G10

choice
	prompt "AT91SAM9G10 Board Type"

config MACH_AT91SAM9G10EK
	bool "Atmel AT91SAM9G10-EK Evaluation Kit"
	select HAVE_NAND_ATMEL_BUSWIDTH_16
	select HAS_DM9000
	help
	  Select this if you are using Atmel's AT91SAM9G10-EK Evaluation Kit.
	  <http://www.atmel.com/dyn/products/tools_card.asp?tool_id=4588>

endchoice

endif

# ----------------------------------------------------------

if ARCH_AT91SAM9G20

choice

	prompt "AT91SAM9G20 Board Type"

config MACH_AT91SAM9G20EK
	bool "Atmel AT91SAM9G20-EK Evaluation Kit"
	select HAVE_NAND_ATMEL_BUSWIDTH_16
	help
	  Select this if you are using Atmel's AT91SAM9G20-EK Evaluation Kit
	  that embeds only one SD/MMC slot.

config MACH_TNY_A9G20
	select SUPPORT_CALAO_MOB_TNY_MD2
	bool "CALAO TNY-A9G20"
	help
	  Select this if you are using a Calao Systems TNY-A9G20.
	  <http://www.calao-systems.com>

config MACH_USB_A9G20
	bool "CALAO USB-A9G20"
	select SUPPORT_CALAO_DAB_MMX
	help
	  Select this if you are using a Calao Systems USB-A9G20.
	  <http://www.calao-systems.com>

config MACH_DSS11
	bool "aizo dSS11"
	select HAVE_NAND_ATMEL_BUSWIDTH_16
	help
	  Select this if you are using aizo dSS11
	  that embeds only one SD/MMC slot.

endchoice

endif

# ----------------------------------------------------------

if ARCH_AT91SAM9263

choice
	prompt "AT91SAM9263 Board Type"

config MACH_AT91SAM9263EK
	bool "Atmel AT91SAM9263-EK"
	select MACH_HAS_LOWLEVEL_INIT
	select HAVE_NAND_ATMEL_BUSWIDTH_16
	help
	  Say y here if you are using Atmel's AT91SAM9263-EK Evaluation board

config MACH_MMCCPU
	bool "Bucyrus MMC-CPU"
	help
	  Say y here if you are using the Bucyrus MMC-CPU

config MACH_PM9263
	bool "Ronetix PM9263"
	select MACH_HAS_LOWLEVEL_INIT
	help
	  Say y here if you are using the Ronetix PM9263 Board

config MACH_TNY_A9263
	bool "CALAO TNY-A9263"
	select SUPPORT_CALAO_MOB_TNY_MD2
	help
	  Select this if you are using a Calao Systems TNY-A9263.
	  <http://www.calao-systems.com>

config MACH_USB_A9263
	bool "CALAO USB-A9263"
	help
	  Select this if you are using a Calao Systems USB-A9263.
	  <http://www.calao-systems.com>

endchoice

endif

if ARCH_AT91SAM9G45

choice
	prompt "AT91SAM9G45 or AT91SAM9M10 Board Type"

config MACH_AT91SAM9M10G45EK
	bool "Atmel AT91SAM9M10G45-EK Evaluation Kit"
	select HAVE_NAND_ATMEL_BUSWIDTH_16
	help
	  Select this if you are using Atmel's AT91SAM9M10G45-EK Evaluation Kit
	  or AT91SAM9G45-EKES or AT91SAM9M10-EKES (for those 2 select the LG LCD)
	  <http://atmel.com/dyn/products/tools_card_v2.asp?tool_id=4735>

config MACH_PM9G45
	bool "Ronetix PM9G45"
	help
	  Say y here if you are using the Ronetix PM9G45 Board

endchoice

endif

# ----------------------------------------------------------

if ARCH_AT91SAM9X5

choice
	prompt "AT91SAM9x5 Series Board Type"

config MACH_AT91SAM9X5EK
	bool "Atmel AT91SAM9x5 Series Evaluation Kit"
	help
	  Select this if you re using Atmel's AT91SAM9x5-EK Evaluation Kit.
	  Supported chips are sam9g15, sam9g25, sam9x25, sam9g35 and sam9x35.

endchoice

endif

# ----------------------------------------------------------

comment "AT91 Board Options"

config MTD_NAND_ATMEL_BUSWIDTH_16
	bool "Enable 16-bit data bus interface to NAND flash"
	depends on HAVE_NAND_ATMEL_BUSWIDTH_16
	help
	  On AT91SAM926x boards both types of NAND flash can be present
	  (8 and 16 bit data bus width).

config AT91_HAVE_2MMC
	bool "Have 2 MMC"
	depends on MACH_AT91SAM9G20EK
	help
	  Select this if you are using an Atmel AT91SAM9G20-EK Evaluation Kit
	  with 2 SD/MMC Slots. This is the case for AT91SAM9G20-EK rev. C and
	  onwards.

config AT91_HAVE_SRAM_128M
	bool "Have 128 of ram"
	depends on MACH_USB_A9G20 || MACH_USB_A9263 || MACH_QIL_A9260
	help
	  Select this if you board have 128 MiB of Ram (as USB_A9G20 C11)

choice
	prompt "LCD type"
	depends on MACH_AT91SAM9M10G45EK

config LCD_TRULY_TFT1N4633E
	bool "truly TFT1N4633-E"
	help
	  Found on AT91SAM9M10G45-EK

config LCD_LG_LB043WQ1
	bool "LG philips LB043WQ1"
	help
	  Found on AT91SAM9G45-EKES and AT91SAM9M10-EKES

endchoice

config CALAO_DAB_MMX
	bool "DAB MMX Daughter Board support"
	depends on SUPPORT_CALAO_DAB_MMX

config CALAO_MOB_TNY_MD2
	bool "MOB TNY MD2 Motherboard Daughter Board support"
	depends on SUPPORT_CALAO_MOB_TNY_MD2

config CALAO_MB_QIL_A9260
	bool "MB-QIL A9260  Motherboard Board support"
	depends on MACH_QIL_A9260

endif
