if ARCH_AT91

config ARCH_TEXT_BASE
	hex
	default 0x23f00000

config BOARDINFO
	default "Atmel 91SAM9260-EK" if MACH_AT91SAM9260EK
	default "Atmel at91sam9263-ek" if MACH_AT91SAM9263EK
	default "Bucyrus MMC-CPU" if MACH_MMCCPU
	default "Ronetix PM9263" if MACH_PM9263

comment "Atmel AT91 System-on-Chip"

choice
	prompt "Atmel AT91 Processor"

config ARCH_AT91SAM9260
	bool "AT91SAM9260"
	select CPU_ARM926T

config ARCH_AT91SAM9263
	bool "AT91SAM9263"
	select CPU_ARM926T
	select MACH_HAS_LOWLEVEL_INIT

endchoice

# ----------------------------------------------------------

if ARCH_AT91SAM9260

choice

	prompt "AT91SAM9260 Board Type"

config MACH_AT91SAM9260EK
	bool "Atmel AT91SAM9260-EK"
	help
	  Say y here if you are using Atmel's AT91SAM9260-EK Evaluation board

endchoice

endif

# ----------------------------------------------------------

if ARCH_AT91SAM9263

choice
	prompt "AT91SAM9263 Board Type"

config MACH_AT91SAM9263EK
	bool "Atmel AT91SAM9263-EK"
	help
	  Say y here if you are using Atmel's AT91SAM9263-EK Evaluation board

config MACH_MMCCPU
	bool "Bucyrus MMC-CPU"
	help
	  Say y here if you are using the Bucyrus MMC-CPU

config MACH_PM9263
	bool "Ronetix PM9263"
	help
	  Say y here if you are using the Ronetix PM9263 Board

endchoice

endif

endif
