config PPC
	bool
	select HAVE_CONFIGURABLE_TEXT_BASE
	select HAS_KALLSYMS
	select HAS_MODULES
	select HAS_CACHE
	select GENERIC_FIND_NEXT_BIT
	select OFTREE
	default y

choice
	prompt "Processor type"

config ARCH_MPC5XXX
	bool "Freescale MPC5xxx"

config ARCH_MPC85XX
	bool "Freescale MPC85xx"
endchoice

source arch/ppc/mach-mpc5xxx/Kconfig
source arch/ppc/mach-mpc85xx/Kconfig
