
config BOARDINFO
	default "Phytec Phycore mpc5200b tiny" if MACH_PHYCORE_MPC5200B_TINY
	
config ARCH_TEXT_BASE
	hex
	default 0x00000000 if RELOCATABLE
	default 0x01000000 if MACH_PHYCORE_MPC5200B_TINY

config MPC5XXX_EARLY_CONSOLE
	bool
	depends on ARCH_MPC5200
	default y

config HAS_EARLY_INIT
	bool
	default y

config PPC
	bool
	select HAVE_CONFIGURABLE_TEXT_BASE
	select HAS_KALLSYMS
	select HAS_MODULES
	select HAVE_CONFIGURABLE_MEMORY_LAYOUT
	select HAVE_CONFIGURABLE_TEXT_BASE
	default y

# Uh, we should decide which one we want to use
config ARCH_MPC5200
	bool

config MPC5200
	bool

config MPC5xxx
	bool

config CACHELINE_SIZE
	int
	default 32 if ARCH_MPC5200

config HAS_REGINFO
	bool
	default y if ARCH_MPC5200

choice
	prompt "Select your board"

config MACH_PHYCORE_MPC5200B_TINY
	bool "Phycore mpc5200b tiny"
	select ARCH_MPC5200
	select MPC5200
	select MPC5xxx
	select HAS_CFI
	help
	  Say Y here if you are using the Phytec Phycore MPC5200B Tiny
	  board aka pcm030
endchoice

source arch/ppc/mach-mpc5xxx/Kconfig
source common/Kconfig
source commands/Kconfig
source net/Kconfig
source drivers/Kconfig
source fs/Kconfig
source lib/Kconfig
