menuconfig DM_BLK
	bool "Device mapper"
	help
	  Composable virtual block devices made up of mappings to
	  other data sources. Modeled after, and intended to be
	  compatible with, the Linux kernel's device mapper subsystem.

config DM_BLK_LINEAR
	bool "Linear target"
	depends on DM_BLK
	help
	  Maps a contiguous region of an existing device into a dm
	  device.

config DM_BLK_VERITY
	bool "Verity target"
	depends on DM_BLK
	help
	  Transparent integrity checking of underlying device using a
	  pre-computed Merkle tree.

config DM_LVM
	bool "LVM2 support"
	depends on DM_BLK_LINEAR
	select QSORT
	help
	  Support for the Logical Volume Manager (LVM2) on-disk format.
	  Parses the metadata of physical volumes to assemble volume
	  groups and lets logical volumes be activated as device mapper
	  devices. Only linear logical volumes are currently supported.
