menuconfig DISK
	select BLOCK
	select PARTITION
	select PARTITION_DISK
	bool "Disk support"
	help
	  Add support for disk like drives like harddisks, CDROMs, SD cards and
	  CF cards.

if DISK

config DISK_WRITE
	select BLOCK_WRITE
	bool "support writing to disk drives"

comment "drive types"

config DISK_BIOS
	bool "BIOS based"
	depends on X86_BIOS_BRINGUP
	help
	  Gain disk drive access via int13 calls to the standard PC-BIOS.
	  The advantage of this driver is, it still uses user's defined boot
	  media to work on. Disadvantage is: Due to its 16 bit nature it is
	  slow.

config DISK_ATA
	bool "ATA type drives"
	select DISK_DRIVE
	help
	  Support for native ATA/IDE drives

comment "interface types"

config DISK_INTF_PLATFORM_IDE
	bool "Platform IDE"
	select DISK_ATA
	help
	  Generic platform driver for simple IDE like interfaces to a connected
	  ATA device.

endif
