menuconfig W1
	bool "Dallas's 1-wire support"
	---help---
	  Dallas' 1-wire bus is useful to connect slow 1-pin devices
	  such as iButtons and thermal sensors.

	  If you want W1 support, you should say Y here.

if W1

source drivers/w1/masters/Kconfig
source drivers/w1/slaves/Kconfig

endif # W1
