config SANDBOX
	bool
	select OFTREE
	select GPIOLIB
	default y

config ARCH_TEXT_BASE
	hex
	default 0x00000000

config LINUX
	bool
	default y
	select GENERIC_FIND_NEXT_BIT

config ARCH_LINUX
	bool

source common/Kconfig
source commands/Kconfig
source net/Kconfig
source drivers/Kconfig
source fs/Kconfig
source lib/Kconfig
source crypto/Kconfig
