# SPDX-License-Identifier: GPL-2.0-only
#
# USB Miscellaneous driver configuration
#
comment "USB Miscellaneous drivers"

config USB_HUB_USB251XB
	bool "USB251XB Hub Controller Configuration Driver"
	depends on I2C
	depends on OFDEVICE
	select NLS
	help
	  This option enables support for configuration via SMBus of the
	  Microchip USB251x/xBi USB 2.0 Hub Controller series. Configuration
	  parameters may be set in devicetree or platform data.
	  Say Y or M here if you need to configure such a device via SMBus.

config USB_ONBOARD_DEV
	bool "Onboard USB hubs and devices support"
	depends on OFDEVICE || COMPILE_TEST
	help
	  Say Y here if you want to support discrete onboard USB hubs
	  that don't require an additional control bus for initialization,
	  but need some non-trivial form of initialization, such as
	  enabling a power regulator. An example for such device is the
	  Realtek RTS5411 hub.
