# SPDX-License-Identifier: GPL-2.0-only

menu "EFI (Extensible Firmware Interface) Support"

config EFI_BOOTUP
	bool
	select EFI
	select EFI_GUID
	select EFI_DEVICEPATH
	select PRINTF_UUID
	select PRINTF_WCHAR
	select BLOCK
	select PARTITION_DISK
	select HW_HAS_PCI

config EFI
	bool

config EFI_GUID
	bool
	help
	  With this option a table of EFI guids is compiled in.

config EFI_DEVICEPATH
	bool

endmenu
