# SPDX-License-Identifier: GPL-2.0-only

config PARTITION_DISK
	depends on PARTITION
	depends on BLOCK
	bool "DISK partition support"
	help
	  Add support for handling common partition tables on all kind of disk
	  like devices (harddisks, CF cards, SD cards and so on)

config PARTITION_DISK_DOS
	depends on PARTITION_DISK
	default y
	bool "DOS partition support"
	help
	  Add support to handle partitions in DOS style.

config PARTITION_DISK_EFI
	depends on PARTITION_DISK
	select CRC32
	select PRINTF_UUID
	select PARTITION_DISK_DOS if PARTITION_MANIPULATION
	bool "EFI: GPT partition support"
	help
	  Add support to handle partitions in GUID Partition Table style.

config PARTITION_DISK_EFI_REFRESH
	depends on PARTITION_DISK_EFI
	select PARTITION_MANIPULATION
	bool "refresh GPT partition on demand"
	help
	  The GPT alternative header must be at the end of the device. When disk
	  images are written to a device this often is not the case which results
	  in warnings:

	  GPT:Primary header thinks Alt. header is not at the end of the disk.

	  Enable this option and set global.system.gpt_refresh to true to refresh
	  GPT partition tables when necessary. Only erroneous partition tables will
	  be rewritten, once fixed up partition tables will not be touched.

config PARTITION_DISK_EFI_GPT_NO_FORCE
	depends on PARTITION_DISK_EFI
	default y
	bool "EFI: GPT: force test Protective MBR for validity"
	help
	  This will be added to the EFI Spec. per Intel after v1.02

config PARTITION_DISK_EFI_GPT_COMPARE
	depends on PARTITION_DISK_EFI
	default y
	bool "EFI: GPT: compare primary and Alternate GPT header for validity"
