# SPDX-License-Identifier: GPL-2.0-only

config REGMAP_FORMATTED
	bool

config REGMAP_I2C
	bool "I2C regmaps" if COMPILE_TEST
	depends on I2C

config REGMAP_SPI
	bool "SPI regmaps" if COMPILE_TEST
	depends on SPI
	select REGMAP_FORMATTED
