menu "i.MX SoC drivers"

config IMX_GPCV2_PM_DOMAINS
        bool "i.MX GPCv2 PM domains"
	depends on ARCH_IMX7 || ARCH_IMX8MQ
	select PM_GENERIC_DOMAINS
	default y if ARCH_IMX7 || ARCH_IMX8MQ

endmenu
