# SPDX-License-Identifier: GPL-2.0-only
menu "i.MX SoC drivers"

config IMX8M_FEATCTRL
	bool "i.MX8M feature controller"
	depends on ARCH_IMX8M
	select FEATURE_CONTROLLER
	select IMX_OCOTP
	select NVMEM
	default y
	help
	  This driver disables device tree nodes that are not applicable
	  to Lite variants of i.MX8M SoCs.

endmenu
