config HAVE_CLK
	bool

config CLKDEV_LOOKUP
	bool

config COMMON_CLK
	select HAVE_CLK
	bool

config COMMON_CLK_OF_PROVIDER
	bool
	depends on OFTREE
	help
	  Clock driver provides OF-Tree based clock lookup.

config CLK_SOCFPGA
	bool
	select COMMON_CLK_OF_PROVIDER
	default y if ARCH_SOCFPGA && OFDEVICE
