# SPDX-License-Identifier: GPL-2.0-only
config HAVE_CLK
	bool

config CLKDEV_LOOKUP
	bool

config COMMON_CLK
	select HAVE_CLK
	bool

config COMMON_CLK_OF_PROVIDER
	bool
	depends on OFTREE
	help
	  Clock driver provides OF-Tree based clock lookup.

config CLK_SOCFPGA
	bool
	select COMMON_CLK_OF_PROVIDER
	default y if ARCH_SOCFPGA && OFDEVICE

if COMMON_CLK

config COMMON_CLK_STM32F
	bool "STM32F4 and STM32F7 clock driver" if COMPILE_TEST
	depends on ARCH_STM32
	help
	  Support for stm32f4 and stm32f7 SoC families clocks

config COMMON_CLK_STM32MP157
	def_bool ARCH_STM32MP157
	help
	  Support for stm32mp157 SoC family clocks

config COMMON_CLK_SCMI
	tristate "Clock driver controlled via SCMI interface"
	depends on ARM_SCMI_PROTOCOL || COMPILE_TEST
	help
	  This driver provides support for clocks that are controlled
	  by firmware that implements the SCMI interface.

	  This driver uses SCMI Message Protocol to interact with the
	  firmware providing all the clock controls.

config COMMON_CLK_GPIO
	bool
	default y
	depends on COMMON_CLK_OF_PROVIDER

source "drivers/clk/sifive/Kconfig"

endif
