if ARCH_STM

config ARCH_TEXT_BASE
	hex
	default 0x41000000 if MACH_MX23EVK
	default 0x42000000 if MACH_CHUMBY

config BOARDINFO
	default "Freescale i.MX23-EVK" if MACH_MX23EVK
	default "Chumby Falconwing" if MACH_CHUMBY

comment "SigmaTel/Freescale i.MX System-on-Chip"

choice
	prompt "Freescale i.MX Processor"

config ARCH_IMX23
	bool "i.MX23"
	select CPU_ARM926T

config ARCH_IMX28
	bool "i.MX28"
	select CPU_ARM926T

endchoice

if ARCH_IMX23

choice
	prompt "i.MX23 Board Type"

config MACH_MX23EVK
	bool "mx23-evk"
	help
	  Say Y here if you are using the Freescale i.MX23-EVK board

config MACH_CHUMBY
	bool "Chumby Falconwing"
	select HAVE_MMU
	help
	  Say Y here if you are using the "chumby one" aka falconwing from
	  Chumby Industries

endchoice

endif

menu "Board specific settings       "

endmenu

endif
