config REGINFO
	bool

menu "Commands                      "

menu "scripting                     "

config CMD_EDIT
	bool
	prompt "edit"

config CMD_EXEC
	depends on !SHELL_HUSH
	bool
	prompt "exec"

config CMD_SLEEP
	bool
	prompt "sleep"

config CMD_ENVIRONMENT
	bool
	prompt "saveenv / loadenv"

config CMD_HELP
	bool
	default y
	prompt "help"

endmenu

menu "file commands                 "

config CMD_LS
	bool
	default y
	prompt "ls"

config CMD_RM
	bool
	default y
	prompt "rm"

config CMD_CAT
	bool
	default y
	prompt "cat"

config CMD_MKDIR
	bool
	default y
	prompt "mkdir"

config CMD_RMDIR
	bool
	default y
	prompt "rmdir"

config CMD_CP
	bool
	default y
	prompt "cp"

config CMD_PWD
	bool
	default y
	prompt "pwd"

config CMD_CD
	bool
	default y
	prompt "cd"

config CMD_MOUNT
	bool
	default y
	prompt "mount"

config CMD_UMOUNT
	bool
	default y
	prompt "umount"

endmenu

menu "console                       "

config CMD_CLEAR
	bool
	default y
	prompt "clear"

config CMD_ECHO
	bool
	default y
	prompt "echo"

config CMD_SPLASH
	depends on BROKEN
	bool
	prompt "splash"

endmenu


menu "i2c                           "

config CMD_I2C
	depends on BROKEN
	bool
	prompt "i2c"

endmenu


menu "memory                        "

config CMD_LOADB
	depends on BROKEN
	select CRC16
	bool
	prompt "loadb"

config CMD_LOADS
	depends on BROKEN
	bool
	prompt "loads"

config CMD_SAVES
	depends on BROKEN
	bool
	depends on CMD_LOADS
	prompt "saves"

config CMD_MEMINFO
	bool
	prompt "meminfo"

config CMD_MEMORY
	bool
	default y
	prompt "md and mw"

config CMD_CRC
	bool
	select CRC32
	prompt "crc"

config CMD_MTEST
	bool
	prompt "mtest"

config CMD_MTEST_ALTERNATIVE
	bool
	depends on CMD_MTEST
	prompt "alternative mtest implementation"

endmenu

menu "flash                         "

config CMD_FLASH
	bool
	prompt "protect/erase/flinfo"

endmenu


menu "booting                       "

config CMD_BOOTM
	bool
	default y
	select CRC32
	prompt "bootm"

config CMD_BOOTM_ZLIB
	bool
	depends on CMD_BOOTM
	select ZLIB
	prompt "bootm with zlib support"

config CMD_BOOTM_BZLIB
	bool
	depends on CMD_BOOTM
	select BZLIB
	prompt "bootm with bzlib support"

config CMD_BOOTM_SHOW_TYPE
	bool
	depends on CMD_BOOTM
	prompt "show image information"

config CMD_RESET
	bool
	prompt "reset"

config CMD_GO
	bool
	prompt "go"

endmenu

config CMD_TIMEOUT
	bool
	prompt "timeout"

config CMD_PARTITION
	bool
	prompt "addpart/delpart"

config CMD_TEST
	bool
	depends on SHELL_HUSH
	default y
	prompt "test"
	help
	  shell like test function

config CMD_REGINFO
	depends on HAS_REGINFO
	select REGINFO
	bool
	prompt "reginfo"

endmenu
