# SPDX-License-Identifier: GPL-2.0-only
# SPDX-Comment: Origin-URL: https://github.com/u-boot/u-boot/blob/a0fe8cedcbe8c76403a77e57eac228b8f778a3ae/lib/efi_loader/Kconfig

config EFI_LOADER_DEBUG_SUPPORT
	bool "EFI Debug Support"
	default y
	help
	  Select this option if you want to setup the EFI Debug Support
	  Table and the EFI_SYSTEM_TABLE_POINTER which is used by the debug
	  agent or an external debugger to determine loaded image information
	  in a quiescent manner.

menu "UEFI services"

config EFI_LOADER_GET_TIME
	bool "GetTime() runtime service"
	depends on RTC_CLASS
	default y
	help
	  Provide the GetTime() runtime service at boottime. This service
	  can be used by an EFI application to read the real time clock.

config EFI_LOADER_SET_TIME
	bool "SetTime() runtime service"
	depends on RTC_CLASS
	default y
	help
	  Provide the SetTime() runtime service at boottime. This service
	  can be used by an EFI application to adjust the real time clock.

endmenu
