# SPDX-License-Identifier: GPL-2.0

config SELFTEST
	bool "Self-tests"
	help
	  Configures support for in-barebox testing

if SELFTEST

config CMD_SELFTEST
	bool "selftest command"
	depends on COMMAND_SUPPORT
	default y
	help
	  Command to run enabled barebox self-tests.
	  If run without arguments, all tests are run

	  Usage: selftest [-l] [tests...]

	  Options:
	    -l     list available tests

config SELFTEST_AUTORUN
	bool "Run self-tests on startup"
	help
	  Self tests are run automatically after initcalls are done,
	  but before barebox_main (shell or board-specific startup).

config SELFTEST_ENABLE_ALL
	bool "Enable all self-tests"
	select SELFTEST_PRINTF
	select SELFTEST_MALLOC
	select SELFTEST_PROGRESS_NOTIFIER
	select SELFTEST_OF_MANIPULATION
	select SELFTEST_ENVIRONMENT_VARIABLES if ENVIRONMENT_VARIABLES
	imply SELFTEST_FS_RAMFS
	imply SELFTEST_TFTP
	imply SELFTEST_JSON
	imply SELFTEST_MMU
	imply SELFTEST_REGULATOR
	imply SELFTEST_STRING
	help
	  Selects all self-tests compatible with current configuration

config SELFTEST_MALLOC
	bool "malloc() selftest"
	help
	  Tests barebox memory allocator

config SELFTEST_PRINTF
	bool "printf selftest"
	help
	  Tests barebox vsnprintf() functionality

config SELFTEST_OF_MANIPULATION
	bool "OF manipulation selftest"
	select OFTREE
	help
	  Tests barebox device tree manipulation functionality

config SELFTEST_PROGRESS_NOTIFIER
	bool "progress notifier selftest"

config SELFTEST_ENVIRONMENT_VARIABLES
	bool "environment variable selftest"

config SELFTEST_FS_RAMFS
	bool "ramfs selftest"
	depends on FS_RAMFS

config SELFTEST_JSON
	bool "JSON selftest"
	depends on JSMN

config SELFTEST_MMU
	bool "MMU remapping selftest"
	select MEMTEST
	depends on MMU

config SELFTEST_STRING
	bool "String library selftest"
	select VERSION_CMP

endif
