if ARCH_MPC5XXX

config ARCH_TEXT_BASE
	hex
	default 0x00000000 if RELOCATABLE
	default 0x01000000 if MACH_PHYCORE_MPC5200B_TINY

config HAS_REGINFO
	bool
	default y if ARCH_MPC5200

choice
	prompt "Select your board"

config MACH_PHYCORE_MPC5200B_TINY
	bool "Phycore mpc5200b tiny"
	help
	  Say Y here if you are using the Phytec Phycore MPC5200B Tiny
	  board aka pcm030.
endchoice

config MPC5200
	bool
	depends on MACH_PHYCORE_MPC5200B_TINY
	default y

config ARCH_MPC5200
	bool
	depends on MACH_PHYCORE_MPC5200B_TINY
	default y

config MPC5xxx
	bool
	depends on MACH_PHYCORE_MPC5200B_TINY
	default y

menu "Board specific settings"

config MACH_PHYCORE_MPC5200B_TINY_REV
	int "Board Revision"
	default 1
	depends on MACH_PHYCORE_MPC5200B_TINY
	help
	  Revision 0 and revision 1 of the tiny board have
	  incompatible flash settings. Unless you have a very
	  old board you should set this option to 1

endmenu

endif
