#
#
#
config X86
	bool
	select HAS_KALLSYMS
	select GENERIC_FIND_NEXT_BIT
	default y

config ARCH_TEXT_BASE
	hex
	default 0x00007c00 if MACH_X86_GENERIC
	default 0x0 if MACH_EFI_GENERIC

config BOARD_LINKER_SCRIPT
	bool
	default n

config GENERIC_LINKER_SCRIPT
	bool
	default y
	depends on !BOARD_LINKER_SCRIPT

menu "ARCH specific settings"

config 64BIT
	def_bool y if X86_EFI
	help
	  Say yes to build a 64-bit binary - formerly known as x86_64
	  Say no to build a 32-bit binary - formerly known as i386.

	  32-bit support currently does not compile and is not tested
	  due to the lack of hardware.

config X86_32
	def_bool y
	depends on !64BIT

config X86_64
	def_bool y
	depends on 64BIT

endmenu

config X86_BOOTLOADER
	bool
	select X86_32
	select HAS_MODULES
	select HAVE_CONFIGURABLE_MEMORY_LAYOUT
	select HAVE_CONFIGURABLE_TEXT_BASE

choice
	prompt "Select your board"

config MACH_X86_GENERIC
	bool "Generic x86"
	select X86_BOOTLOADER
	depends on !X86_EFI 
	help
	  Say Y here if you want barebox to be your BIOS based bootloader

config MACH_EFI_GENERIC
	bool "Generic EFI"
	depends on X86_EFI 
	select HAS_DEBUG_LL
	help
	  Say Y here if you want barebox to be your EFI based bootloader

endchoice

choice
	prompt "Bring up type"

	config X86_EFI
		bool "EFI"
		select EFI_BOOTUP
		select EFI_GUID
		select EFI_DEVICEPATH
		select PRINTF_UUID
		select CLOCKSOURCE_EFI_X86

	config X86_BIOS_BRINGUP
		bool "16 bit BIOS"
		help
		  Barebox will act as a BIOS based bootloader. This includes
		  some 16 bit real mode code and some restrictions everyone knows
		  from BIOS based systems.

	config X86_NATIVE_BRINGUP
		bool "native"
		help
		  Barebox will act as a native bootloader. This includes all the
		  required initialization needed to bring up a piece of hardware.
		  Note: Not implemented yet

endchoice

source arch/x86/boot/Kconfig
source arch/x86/mach-i386/Kconfig
