# SPDX-License-Identifier: GPL-2.0-only

config X86
	bool
	select HAS_KALLSYMS
	select HAS_DMA
	select GENERIC_FIND_NEXT_BIT
	select ARCH_DMA_DEFAULT_COHERENT
	select HAVE_EFI_PAYLOAD
	default y

config ARCH_TEXT_BASE
	hex
	default 0x0

menu "ARCH specific settings"

config 64BIT
	def_bool y if X86_EFI
	select ARCH_DMA_ADDR_T_64BIT
	help
	  Say yes to build a 64-bit binary - formerly known as x86_64
	  Say no to build a 32-bit binary - formerly known as i386.

	  32-bit support currently does not compile and is not tested
	  due to the lack of hardware.

config X86_32
	def_bool y
	depends on !64BIT
	select ARCH_HAS_SJLJ

config X86_64
	def_bool y
	depends on 64BIT
	select ARCH_HAS_SJLJ

endmenu

config MACH_EFI_GENERIC
	def_bool y
	depends on X86_EFI
	select HAS_DEBUG_LL
	help
	  Say Y here if you want barebox to be your EFI based bootloader


config X86_EFI
	def_bool y
	select EFI_PAYLOAD
	select CLOCKSOURCE_EFI_X86
