menuconfig USB
	bool "USB support                   "

if USB

config USB_EHCI
	bool "EHCI driver"

config USB_ULPI
	bool

config USB_ISP1504
	select USB_ULPI
	bool "ISP1504 Tranceiver support"

endif

source drivers/usb/gadget/Kconfig

