menuconfig NET_USB
	depends on USB_HOST
	bool "USB network support"

if NET_USB

config NET_USB_ASIX
	select PHYLIB
	bool "Asix compatible"

config USB_NET_AX88179_178A
	tristate "ASIX AX88179/178A USB 3.0/2.0 to Gigabit Ethernet"
	help
	  This option adds support for ASIX AX88179 based USB 3.0/2.0
	  to Gigabit Ethernet adapters.

	  This driver should work with at least the following devices:
	    * ASIX AX88179
	    * ASIX AX88178A
	    * Sitcomm LN-032

config NET_USB_SMSC95XX
	select PHYLIB
	bool "SMSC95xx"

endif
