CONFIG_BOOTM_FITIMAGE=y
CONFIG_BOOTM_FITIMAGE_SIGNATURE=y
CONFIG_CRYPTO_BUILTIN_DEVELOPMENT_KEYS=y
CONFIG_CRYPTO_RSA=y
CONFIG_PRINTF_FULL=y
CONFIG_BUG_ON_DATA_CORRUPTION=y
CONFIG_UBSAN=y
CONFIG_UBSAN_NO_ALIGNMENT=y
CONFIG_ASAN=y
CONFIG_FORTIFY_SOURCE=y
CONFIG_HWRNG=y
CONFIG_HWRNG_DEV_RANDOM=y
CONFIG_STACKPROTECTOR_STRONG=y
CONFIG_MALLOC_LIBC=y
CONFIG_DEBUG_MEMLEAK=y
CONFIG_TEST=y
CONFIG_FUZZ=y
CONFIG_FUZZ_EXTERNAL=y
CONFIG_FUZZ_INSECURE_PARTIAL_DIGEST=y
CONFIG_CMD_FUZZ=y
# CONFIG_BAREBOX_LOGO is not set
# CONFIG_DRIVER_NET_TAP is not set
