
if MACH_MINI2440

config MINI2440_VIDEO
	bool
	select VIDEO
	select DRIVER_VIDEO_S3C24XX

config MINI2440_VIDEO_N35
	bool "Support N35 display (240x320)"
	select MINI2440_VIDEO
	help
	  This adds support for NEC 3.5 inch TFT display,
	  the most common one used with MINI2440 board.

config MINI2440_VIDEO_A70
	bool "Support A70 display (800x480)"
	select MINI2440_VIDEO
	help
	  This adds support for Innolux 7.0 inch TFT display.

config MINI2440_VIDEO_SVGA
	bool "Support SVGA video adapter"
	select MINI2440_VIDEO
	help
	  This adds support for MINI2440 SVGA (1024x768) video output adapter.

endif
