#
# OMAP Architecture specific features
#
# (C) Copyright 2008
# Texas Instruments, <www.ti.com>
# Nishanth Menon <x0nishan@ti.com>
#
# This program is free software; you can redistribute it and/or
# modify it under the terms of the GNU General Public License as
# published by the Free Software Foundation; either version 2 of
# the License, or (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
# GNU General Public License for more details.
#

menu "OMAP Features"
	depends on ARCH_OMAP

config MACH_OMAP
	bool

choice
	prompt "Select OMAP Variant"

config ARCH_OMAP3
	bool "OMAP3"
	select CPU_V7
	select GENERIC_GPIO
	select OMAP_CLOCK_SOURCE_S32K
	help
	  Say Y here if you are using Texas Instrument's OMAP343x based platform

config ARCH_OMAP4
	bool "OMAP4"
	select CPU_V7
	select GENERIC_GPIO
	select OMAP_CLOCK_SOURCE_S32K
	help
	  Say Y here if you are using Texas Instrument's OMAP4 based platform

config ARCH_AM33XX
	bool "AM33xx"
	select CPU_V7
	select GENERIC_GPIO
	select OMAP_CLOCK_SOURCE_DMTIMER0
	help
	  Say Y here if you are using Texas Instrument's AM33xx based platform

endchoice

# Blind enable all possible clocks.. think twice before you do this.
config OMAP_CLOCK_SOURCE_S32K
	bool

config OMAP_CLOCK_SOURCE_DMTIMER0
	bool

config OMAP3_CLOCK_CONFIG
	prompt "Clock Configuration"
	bool
	depends on ARCH_OMAP3
	default y
	help
	  Say Y here if you like to have OMAP3 Clock configuration done.

config OMAP_GPMC
	prompt "Support for GPMC configuration"
	bool
	default y
	help
	  Enable this if you use Texas Instrument's General purpose Memory
	  Controller(GPMC). GPMC allows you to configure devices such as NOR,
	  NAND, OneNAND etc.

config OMAP_BUILD_IFT
	prompt "build ift binary (MLO)"
	bool
	help
	  Say Y here if you want to build an MLO binary. On TI SoCs, this
	  binary is loaded to SRAM. It is responsible for initializing
	  the SDRAM and possibly chainloading a full-featured barebox.

config OMAP_BUILD_SPI
	prompt "build SPI binary"
	bool
	help
	  Say Y here if you want to build an barebox.spi image as used
	  on the AM35xx chips when booting from SPI NOR flash.

config BAREBOX_UPDATE_AM33XX_SPI_NOR_MLO
	prompt "barebox update SPI NOR MLO handler"
	bool
	depends on BAREBOX_UPDATE
	help
          Say Y for barebox update SPI NOR MLO handler.
          AM35xx, AM33xx chips use big endian MLO for SPI NOR flash.

config ARCH_TEXT_BASE
	hex
	default 0x80e80000 if MACH_OMAP343xSDP
	default 0x80e80000 if MACH_BEAGLE

config OMAP4_USBBOOT
	bool "enable booting from USB"
	default n
	depends on ARCH_OMAP4 && !MMU
	help
	  Say Y here if you want to be able to boot an OMAP4 cpu from USB.
	  You need the utility program omap4_usbboot to boot from USB.
	  Please read omap4_usb_booting.txt for more information.

config CMD_BOOT_ORDER
	tristate
	depends on ARCH_OMAP4
	prompt "boot_order"
	help
	  A command to choose the next boot device on a warm reset.

choice
	prompt "Select OMAP board"

config MACH_OMAP343xSDP
	bool "Texas Instrument's SDP343x"
	depends on ARCH_OMAP3
	help
	  Say Y here if you are using SDP343x platform

config MACH_BEAGLE
	bool "Texas Instrument's Beagle Board"
	select HAVE_DEFAULT_ENVIRONMENT_NEW
	depends on ARCH_OMAP3
	help
	  Say Y here if you are using Beagle Board

config MACH_BEAGLEBONE
	bool "Texas Instrument's Beagle Bone"
	depends on ARCH_AM33XX
	help
	  Say Y here if you are using Beagle Bone

config MACH_OMAP3EVM
	bool "Texas Instrument's OMAP3 EVM"
	depends on ARCH_OMAP3
	help
	  Say Y here if you are using OMAP3EVM

config MACH_PANDA
	bool "Texas Instrument's Panda Board"
	select HAVE_DEFAULT_ENVIRONMENT_NEW
	depends on ARCH_OMAP4
	help
	  Say Y here if you are using OMAP4 Panda board

config MACH_ARCHOSG9
	bool "Archos G9 tablets"
	depends on ARCH_OMAP4
	help
	  Say Y here if you are using OMAP4-based Archos G9 tablet

config MACH_PCM049
	bool "Phytec phyCORE pcm049"
	depends on ARCH_OMAP4
	help
	  Say Y here if you are using Phytecs phyCORE pcm049 board
	  based on OMAP4

config MACH_PCAAL1
	bool "Phytec phyCARD-A-L1"
	depends on ARCH_OMAP3
	help
	  Say Y here if you are using a phyCARD-A-L1 PCA-A-L1

config MACH_PCAAXL2
	bool "Phytec phyCARD XL2"
	depends on ARCH_OMAP4
	help
	  Say Y here if you are using a phyCARD-A-XL1 PCA-A-XL1

config MACH_PCM051
	bool "Phytec phyCORE pcm051"
	select HAVE_DEFAULT_ENVIRONMENT_NEW
	depends on ARCH_AM33XX
	help
	  Say Y here if you are using Phytecs phyCORE pcm051 board

endchoice

if ARCH_OMAP

choice
	prompt "Select UART"
	default OMAP_UART3

	config OMAP_UART1
		bool "Use UART1"
		depends on ARCH_OMAP
		help
		  Say Y here if you would like to use UART1 as console.

	config OMAP_UART3
		bool "Use UART3"
		depends on ARCH_OMAP
		help
		  Say Y here if you would like to use UART3 as console.

endchoice

endif

if MACH_PCM049
	choice
	prompt "Select DDR2-RAM Size"

	config 512MB_DDR2RAM
		bool "512MB"
	config 1024MB_DDR2RAM
		bool "1024MB"

	endchoice
endif

config MACH_OMAP_ADVANCED_MUX
	bool "Enable advanced pin muxing"
	depends on MACH_OMAP343xSDP
	default n
	help
	  Say Y here if you would like to have complete pin muxing to be
	  done at boot time

endmenu
