menuconfig LED
	bool "LED support"
	select POLLER

if LED

config LED_GPIO
	bool "gpio LED support"
	depends on GENERIC_GPIO

config LED_PWM
	bool "PWM LED support"
	depends on PWM

config LED_GPIO_OF
	bool "support parsing gpio LEDs from device tree"
	depends on LED_GPIO && OFTREE

config LED_GPIO_RGB
	bool "gpio rgb LED support"
	depends on LED_GPIO

config LED_GPIO_BICOLOR
	bool "gpio bicolor LED support"
	depends on LED_GPIO

config LED_TRIGGERS
	select POLLER
	bool "LED triggers support"
	help
	  This allows to assign certain triggers like heartbeat or network
	  activity to LEDs.

config LED_PCA955X
	bool "LED Support for PCA955x I2C chips"
	depends on I2C
	help
	  This option enables support for LEDs connected to PCA955x
	  LED driver chips accessed via the I2C bus.  Supported
	  devices include PCA9550, PCA9551, PCA9552, and PCA9553.


endif
