#include <mips/qca/ar9331_dpt_module.dts>
#include "ar9331.dtsi"

/ {
	aliases {
		spiflash = &spiflash;
	};

	chosen {
		environment@0 {
			compatible = "barebox,environment";
			device-path = &spiflash, "partname:barebox-environment";
		};
	};

	leds {
		system {
			barebox,default-trigger = "heartbeat";
		};
	};
};

&spiflash {
	partition@0 {
		label = "barebox";
		reg = <0 0x80000>;
	};

	partition@80000 {
		label = "barebox-environment";
		reg = <0x80000 0x10000>;
	};
};

&mac0 {
	status = "okay";
};
