/dts-v1/;

#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/input/input.h>

#include <mips/qca/ar9331.dtsi>
#include "ar9331.dtsi"

/ {
	model = "OpenEmbed SOM9331 Board";
	compatible = "openembed,som9331-board", "openembed,som9331-module";
	barebox,disable-deep-probe;

	aliases {
		serial0 = &uart;
		spiflash = &spiflash;
	};

	memory@0 {
		device_type = "memory";
		reg = <0x0 0x4000000>;
	};

	leds {
		compatible = "gpio-leds";

		system {
			label = "dpt-module:green:system";
			gpios = <&gpio 27 GPIO_ACTIVE_LOW>;
			default-state = "off";
			barebox,default-trigger = "heartbeat";
		};
	};


	chosen {
		stdout-path = &uart;

		environment {
			compatible = "barebox,environment";
			device-path = &env_nor;
		};

		art@0 {
			compatible = "qca,art-ar9331", "qca,art";
			device-path = &spiflash_art;
			barebox,provide-mac-address = <&eth0>;
		};
	};

	gpio-keys {
		button@0 {
			gpios = <&gpio 11 GPIO_ACTIVE_HIGH>;
		};
	};
};

&ref {
	clock-frequency = <25000000>;
};

&uart {
	status = "okay";
};

&gpio {
	status = "okay";
};

&usb {
	dr_mode = "host";
	status = "okay";
};

&usb_phy {
	status = "okay";
};

&spi {
	num-chipselects = <1>;
	status = "okay";

	/* Winbond 25Q128FVSG SPI flash */
	spiflash: w25q128@0 {
		#address-cells = <1>;
		#size-cells = <1>;
		compatible = "winbond,w25q128", "jedec,spi-nor";
		spi-max-frequency = <104000000>;
		reg = <0>;
	};
};

&spiflash {
	partition@0 {
		label = "barebox";
		reg = <0 0x80000>;
	};

	env_nor: partition@80000 {
		label = "barebox-environment";
		reg = <0x80000 0x10000>;
	};

	spiflash_art: partition@7f0000 {
		label = "art";
		reg = <0x7f0000 0x10000>;
	};
};

&eth0 {
	status = "okay";
};

&eth1 {
	status = "okay";
};
