/dts-v1/;

/include/ "skeleton.dtsi"

/ {
	model = "qemu malta";
	compatible = "qemu,malta";

	chosen {
		environment@0 {
			compatible = "barebox,environment";
			device-path = &nor0, "partname:barebox-environment";
		};
	};

	memory {
		reg = <0x00000000 0x10000000>;
	};

	uart0: serial@b00003f8 {
		compatible = "ns16550a";
		reg = <0xb00003f8 0x08>;
		reg-shift = <0>;
		/* no matter for emulated port */
		clock-frequency = <1843200>;
	};

	nor0: flash@be000000 {
		#address-cells = <1>;
		#size-cells = <1>;
		compatible = "cfi-flash";
		reg = <0xbe000000 0x00400000>;

		partition@0 {
			label = "barebox";
			reg = <0 0x80000>;
			read-only;
		};

		partition@80000 {
			label = "barebox-environment";
			reg = <0x80000 0x10000>;
		};
	};
};
