/dts-v1/;

#include "ar9331.dtsi"
#include <dt-bindings/gpio/gpio.h>

/ {
	model = "TP-LINK MR3020";
	compatible = "tplink,mr3020";

	memory {
		reg = <0x00000000 0x2000000>;
	};

	aliases {
		spiflash = &spiflash;
	};

	leds {
		compatible = "gpio-leds";

		wlan {
			label = "tp-link:green:wlan";
			gpios = <&gpio 0 GPIO_ACTIVE_HIGH>;
			default-state = "off";
		};

		lan {
			label = "tp-link:green:lan";
			gpios = <&gpio 17 GPIO_ACTIVE_LOW>;
			default-state = "off";
		};

		wps {
			label = "tp-link:green:wps";
			gpios = <&gpio 26 GPIO_ACTIVE_LOW>;
			default-state = "off";
		};

		led3g {
			label = "tp-link:green:3g";
			gpios = <&gpio 27 GPIO_ACTIVE_LOW>;
			default-state = "off";
		};
	};
};

&serial0 {
	status = "okay";
};

&gpio {
	status = "okay";
};

&spi {
	num-chipselects = <1>;
	status = "okay";

	/* Spansion S25FL032PIF SPI flash */
	spiflash: m25p80@0 {
		#address-cells = <1>;
		#size-cells = <1>;
		compatible = "m25p80";
		spi-max-frequency = <104000000>;
		reg = <0>;
	};
};
