#
# 1-wire slaves configuration
#

menu "1-wire Slaves"

config W1_SLAVE_DS2431
	bool "1kb EEPROM family support (DS2431)"
	help
	  Say Y here if you want to use a 1-wire
	  1kb EEPROM family device (DS2431)

config W1_SLAVE_DS2431_WRITE
	bool "write support"
	depends on W1_SLAVE_DS2431

config W1_SLAVE_DS2433
	bool "EEPROM family support (DS2433 4Kb or DS28EC20 20kb)"
	help
	  Say Y here if you want to use a 1-wire
	  EEPROM family device (DS2433 4Kb or DS28EC20 20kb).

config W1_SLAVE_DS2433_WRITE
	bool "write support"
	depends on W1_SLAVE_DS2433

endmenu
