*.pbl
*.pblx.*
*.pblb
*.img
*.imximg
*.imximg.prep
*.imximg.signed
*.imx-sram-img
*.map
*.src
*.kwbimg
*.kwbuartimg
*.socfpgaimg
*.t20img
*.t20img.cfg
*.t30img
*.t30img.cfg
*.t124img
*.t124img.cfg
*.mlo
*.mlospi
*.mxsbs
*.mxssd
pbl.lds
barebox.x
barebox.z
