# SPDX-License-Identifier: GPL-2.0-only

menuconfig FS_JFFS2
	bool
	select CRC32
	depends on MTD
	prompt "jffs2 support"

if FS_JFFS2

config FS_JFFS2_FS_DEBUG
	int "JFFS2 debugging verbosity (0 = quiet, 2 = noisy)"
	default "0"

config FS_JFFS2_COMPRESSION_OPTIONS
	bool "Advanced compression options for JFFS2"
	depends on FS_JFFS2
	help
	  Enabling this option allows you to explicitly choose which
	  compression modules, if any, are enabled in JFFS2. Removing
	  compressors can mean you cannot read existing file systems,
	  and enabling experimental compressors can mean that you
	  write a file system which cannot be read by the bootloader.

	  If unsure, you should _definitely_ say 'N'.

if FS_JFFS2_COMPRESSION_OPTIONS

config FS_JFFS2_COMPRESSION_ZLIB
	bool
	select ZLIB
	prompt "ZLIB compression support"
	help
	  Enable zlib, if compression type 0x06 is missed at run-time.

config FS_JFFS2_COMPRESSION_LZO
	bool
	select LZO_DECOMPRESS
	prompt "LZO compression support"

config FS_JFFS2_COMPRESSION_RTIME
	bool
	prompt "RTIME compression support"

config FS_JFFS2_COMPRESSION_RUBIN
	bool
	prompt "Rubin compression support"

endif

endif
