menu "SPI drivers                   "

config SPI
	bool
	default y

config DRIVER_SPI_IMX
	bool "i.MX SPI Master driver"
	depends on ARCH_IMX

config DRIVER_SPI_MC13783
	bool "MC13783 a.k.a. PMIC driver"

endmenu
