CONFIG_NAME="targettools_defconfig"
CONFIG_IMD=y
CONFIG_IMD_TARGET=y
CONFIG_KERNEL_INSTALL_TARGET=y
CONFIG_BAREBOXENV_TARGET=y
CONFIG_BAREBOXCRC32_TARGET=y
CONFIG_MVEBU_KWBOOT_TARGET=y
CONFIG_ARCH_IMX_USBLOADER_TARGET=y
CONFIG_OMAP3_USB_LOADER_TARGET=y
CONFIG_OMAP4_USBBOOT_TARGET=y
CONFIG_RK_USB_LOADER_TARGET=y
