
config GREGORIAN_CALENDER
	bool

menu "General Settings              "


config TEXT_BASE
	prompt "TEXT_BASE"
	hex
	help
	  The Address U-Boot gets linked at.

config RELOCATABLE
	depends on PPC
	bool "generate relocatable U-Boot binary"
	help
	  A non relocatable U-Boot binary will run at it's compiled in
	  link address in RAM. This leads to smaller image sizes but may
	  put U-Boot just in the middle of RAM. With this option enabled
	  instead U-Boot can determine this address at runtime and thus
	  allowing it to relocate to the end of the available RAM. This
	  way you have the whole memory in a single piece.

config BROKEN
	bool
	prompt "Prompt for broken or incomplete code"

config PROMPT
	string
	prompt "U-Boot command prompt"
	default "uboot:"

config BAUDRATE
	int
	prompt "Default baudrate"
	default 115200

config CMDLINE_EDITING
	bool
	prompt "Enable command line editing"

config AUTO_COMPLETE
	bool
	prompt "Enable auto completion"

config SIMPLE_READLINE
	bool
	default y
	depends on !CMDLINE_EDITING

config LONGHELP
	bool
	prompt "Enable long help texts"

config CBSIZE
	int
	prompt "Buffer size for input from the Console"
	default 1024

config MAXARGS
	int
	prompt "max. Number of arguments accepted for monitor commands"
	default 16

config HUSH_PARSER
	bool
	prompt "Use hush parser"

config SIMPLE_PARSER
	bool
	default y
	depends on !HUSH_PARSER

config PROMPT_HUSH_PS2
	string
	depends on HUSH_PARSER
	prompt "hush PS2"
	default "> "

config DYNAMIC_CRC_TABLE
	bool
	depends on CRC32
	prompt "Generate the crc32 table dynamically"
	default y
	help
	  Saying yes to this option saves around 800 bytes of binary size.
	  If unsure say yes.

config ERRNO_MESSAGES
	bool
	prompt "print error values as text"
	default y

config TIMESTAMP
	bool
	default y
	select GREGORIAN_CALENDER
	prompt "print timestamp information from images"
	help
	  When CONFIG_TIMESTAMP is selected, the timestamp
	  (date and time) of an image is printed by image
	  commands like bootm or iminfo. This option is
	  automatically enabled when you select CFG_CMD_DATE .

config CONSOLE_ACTIVATE_FIRST
	bool
	default y
	prompt "activate first console on startup"
	help
	  Normally on startup all consoles are disabled, so you won't
	  see anything from U-Boot starting. Enabling this option
	  enables the first console.

config CONSOLE_ACTIVATE_ALL
	bool
	depends on !CONSOLE_ACTIVATE_FIRST
	prompt "activate all consoles on startup"
	help
	  Enabling this options activates all consoles on startup, so
	  you will get output and a prompt on all consoles simultaneously.

config OF_FLAT_TREE
	bool
	prompt "Open Firmware flat device tree support"

endmenu

menu "Debugging                     "

config SKIP_LOWLEVEL_INIT
	bool
	depends on ARM
	prompt "Skip lowlevel init"


endmenu
