/*
 * Barebox specific DT overlay for OpenBlocks AX3-4 board
 *   Sebastian Hesselbarth <sebastian.hesselbarth@gmail.com>
 */

#include "arm/armada-xp-openblocks-ax3-4.dts"

/ {
	chosen {
		stdout-path = "/soc/internal-regs/serial@12000";
	};

	soc {
		ranges = <MBUS_ID(0xf0, 0x01) 0 0 0xf1000000 0x100000
			  MBUS_ID(0x01, 0x1d) 0 0 0xfff00000 0x100000
			  MBUS_ID(0x01, 0x2f) 0 0 0xf0000000 0x8000000>;

		internal-regs {
			gpio_leds {
				red_led {
					barebox,default-trigger = "heartbeat";
				};
			};
		};
	};
};
