/*
 * Barebox specific DT overlay for SolidRun CuBox
 *   Sebastian Hesselbarth <sebastian.hesselbarth@gmail.com>
 */

#include "arm/dove-cubox.dts"

/ {
	chosen {
		stdout-path = &uart0;
	};

	leds {
		power {
			barebox,default-trigger = "heartbeat";
		};
	};
};
