/ {
	chosen {
		linux,stdout-path = &uart1;

		environment@0 {
			compatible = "barebox,environment";
			device-path = &nfc, "partname:environment";
		};
	};
};

&nfc {
	#address-cells = <1>;
	#size-cells = <1>;

	partition@0 {
		label = "barebox";
		reg = <0x0 0x80000>;
	};

	partition@1 {
		label = "environment";
		reg = <0x80000 0x80000>;
	};

	partition@2 {
		label = "kernel";
		reg = <0x100000 0x400000>;
	};

	partition@3 {
		label = "rootfs";
		reg = <0x500000 0x07B00000>;
	};
};
