/*
 * Copyright 2017 Alexander Kurz <akurz@blala.de>
 *
 * The code contained herein is licensed under the GNU General Public
 * License. You may obtain a copy of the GNU General Public License
 * Version 2 or later at the following locations:
 *
 * http://www.opensource.org/licenses/gpl-license.html
 * http://www.gnu.org/copyleft/gpl.html
 */

/dts-v1/;
#include "imx50-kindle-common.dtsi"
#include <dt-bindings/interrupt-controller/irq.h>
#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/input/input.h>

/ {
	model = "Amazon Kindle EY21";
	compatible = "amazon,kindle-ey21", "fsl,imx50";

	chosen {
		stdout-path = &uart1;
	};

	memory@70000000 {
		device_type = "memory";
		reg = <0x70000000 0x10000000>;
	};
};

&iomuxc {
	imx50-kindle-ey21 {
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_hog>;

		pinctrl_hog: hoggrp {
			fsl,pins = <
				MX50_PAD_SD2_WP__GPIO5_16	0xe4 /* hall */
			>;
		};
	};
};

&i2c2 {
	clock-frequency = <50000>;
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_i2c2>;
	status = "okay";

	max14656@35 {
		compatible = "maxim,max14656";
		reg = <0x35>;
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_charger_detect>;
		interrupt-parent = <&gpio6>;
		interrupts = <26 IRQ_TYPE_LEVEL_HIGH>;
	};

	smart-battery@55 {
		compatible = "ti,bq27210";
		reg = <0x55>;
		ti,i2c-retry-count = <2>;
		ti,poll-retry-count = <10>;
	};
};

&i2c3 {
	clock-frequency = <50000>;
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_i2c3>;
	status = "okay";
};
