// SPDX-License-Identifier: GPL-2.0-or-later OR MIT

/ {
	chosen {
		stdout-path = &uart4;

		environment@0 {
			compatible = "barebox,environment";
			device-path = &usdhc3, "partname:barebox-environment";
		};
	};

	reserved-memory {
		#address-cells = <1>;
		#size-cells = <1>;
		ranges;

		/* Address will be determined by the bootloader */
		ramoops {
			compatible = "ramoops";
		};
	};

	reserved-memory {
		#address-cells = <1>;
		#size-cells = <1>;
		ranges;

		/* Address will be determined by the bootloader */
		ramoops {
			compatible = "ramoops";
		};
	};
};

&usdhc3 {
	#address-cells = <1>;
	#size-cells = <1>;

	partition@40000 {
		label = "barebox-environment";
		reg = <0x40000 0x80000>;
	};

	partition@c0000 {
		label = "state";
		reg = <0xc0000 0x40000>;
	};
};
