// SPDX-License-Identifier: GPL-2.0-or-later
/*
 * Copyright 2018 (C) Pengutronix, Michael Grzeschik <mgr@pengutronix.de>
 */

/dts-v1/;
#include <arm/imx6dl.dtsi>
#include "imx6dl.dtsi"
#include "imx6qdl-smarc-samx6i.dtsi"

/ {
	model = "Kontron sAMX6i";
	compatible = "kontron,imx6dl-samx6i", "fsl,imx6dl";
};
