/*
 * Copyright 2014 Christian Hemp <c.hemp@phytec.de>, PHYTEC Messtechnik GmbH
 *
 * The code contained herein is licensed under the GNU General Public
 * License. You may obtain a copy of the GNU General Public License
 * Version 2 or later at the following locations:
 *
 * http://www.opensource.org/licenses/gpl-license.html
 * http://www.gnu.org/copyleft/gpl.html
 */

/dts-v1/;
#include "imx6s-phytec-pfla02.dtsi"

/ {
	model = "Phytec phyBOARD SUBRA";
	compatible = "phytec,imx6dl-pbab05", "phytec,imx6s-pfla02", "fsl,imx6dl";

	chosen {
		stdout-path = &uart4;
	};
};

&fec {
	status = "okay";
};

&uart4 {
	status = "okay";
};

&usdhc3 {
	status = "okay";
};
