/*
 * The code contained herein is licensed under the GNU General Public
 * License. You may obtain a copy of the GNU General Public License
 * Version 2 or later at the following locations:
 *
 * http://www.opensource.org/licenses/gpl-license.html
 * http://www.gnu.org/copyleft/gpl.html
 */

#include <arm/imx7d-sdb.dts>

/ {
	chosen {
		stdout-path = &uart1;
	};

	memory {
		device_type = "memory";
		reg = <0x80000000 0x40000000>;
	};
};

&extended_io {
	q5 {
		gpio-hog;
		gpios = <5 GPIO_ACTIVE_HIGH>;
		output-high;
		line-name = "enet-rst-b";
	};
};
