// SPDX-License-Identifier: (GPL-2.0 OR MIT)

/*
 * Copyright (C) 2019 Zodiac Inflight Innovations
 */

#include <arm/imx7d-zii-rmu2.dts>
#include "imx7d-ddrc.dtsi"

&ecspi1 {
	nor_flash: flash@0 {
		#address-cells = <1>;
		#size-cells = <1>;

		partition@0 {
			label = "barebox";
			reg = <0x0 0xc0000>;
		};

		partition@c0000 {
			label = "barebox-environment";
			reg = <0xc0000 0x40000>;
		};
	};
};

&uart4 {
	rave-sp {
		#address-cells = <1>;
		#size-cells = <1>;

		watchdog {
			nvmem-cells = <&boot_source>;
			nvmem-cell-names = "boot-source";
		};

		eeprom@a3 {
			boot_source: boot-source@83 {
				reg = <0x83 1>;
			};
		};
	};
};
