// SPDX-License-Identifier: (GPL-2.0+ OR MIT)

/*
 * Copyright (C) 2018 Zodiac Inflight Innovations
 */
#include <arm/imx7d-zii-rpu2.dts>

#include "imx7d-ddrc.dtsi"

/ {
	aliases {
		/*
		 * NVMEM device corresponding to EEPROM attached to
                 * the switch shared DT node with it, so we use that
                 * fact to create a desirable naming
		 */
		switch-eeprom = &switch;
	};
};
