/{
	chosen {
		barebox,bootsource-mmc0 = &usdhc1;
		barebox,bootsource-mmc1 = &usdhc2;
		barebox,bootsource-mmc2 = &usdhc3;
	};

	soc@0 {
		ddrc: memory-controller@4e300000 {
			compatible = "fsl,imx93-ddrc";
			reg = <0x4e300000 0x400000>;
		};
	};
};
