
/ {
	barebox,deep-probe;

	chosen {
		barebox,bootsource-mmc0 = &sdhci0;
		barebox,bootsource-mmc1 = &sdhci1;
		barebox,bootsource-mmc2 = &sdhci2;
	};
};

&phy_gmii_sel {
	compatible = "ti,am654-phy-gmii-sel", "syscon";
};

&main_rti1 {
	status = "disabled";
};

&main_rti2 {
	status = "disabled";
};

&main_rti3 {
	status = "disabled";
};

&main_rti15 {
	status = "disabled";
};
