/ {
	chosen {
		environment@0 {
			compatible = "barebox,environment";
			device-path = &mmc, "partname:1";
			file-path = "barebox.env";
		};
	};

	aliases {
		mmc0 = &mmc;
	};
};

&watchdog0 {
	resets = <&rst L4WD0_RESET>;
};

&watchdog1 {
	resets = <&rst L4WD1_RESET>;
};
