#include <arm/tegra124-jetson-tk1.dts>
#include "tegra124.dtsi"

/ {
	chosen {
		stdout-path = &uartd;

		environment {
			compatible = "barebox,environment";
			device-path = &emmc, "partname:boot1";
		};
	};

	/* eMMC */
	emmc: sdhci@700b0600 {
	};
};
