#include <arm/tegra124-jetson-tk1.dts>
#include "tegra124.dtsi"

/ {
	chosen {
		stdout-path = "/serial@0,70006300/";

		environment@0 {
			compatible = "barebox,environment";
			device-path = &emmc, "partname:boot1";
		};
	};

	/* eMMC */
	emmc: sdhci@0,700b0600 {
	};
};
