menuconfig I2C
	bool "I2C drivers                   "

if I2C

config DRIVER_I2C_IMX
	bool "i.MX I2C Master driver"
	depends on ARCH_IMX

config DRIVER_I2C_MC13892
	bool "MC13892 a.k.a. PMIC driver"

config DRIVER_I2C_MC9SDZ60
	bool "MC9SDZ60 driver"

endif
