menuconfig I2C
	bool "I2C drivers                   "

if I2C

source drivers/i2c/busses/Kconfig

config I2C_MC13892
	bool "MC13892 a.k.a. PMIC driver"

config I2C_MC34704
	bool "MC34704 PMIC driver"

config I2C_MC9SDZ60
	bool "MC9SDZ60 driver"

config I2C_LP3972
	bool "LP3972 driver"

config I2C_TWL4030
	bool "TWL4030 driver"
	select GPIO

endif
