menu "serial drivers"
	depends on !CONSOLE_NONE

config SERIAL_DEV_BUS
	bool "Serial device bus"
	select POLLER
	depends on CONSOLE_FULL
	help
	  Core support for devices connected via a serial port.

config DRIVER_SERIAL_ARM_DCC
	depends on ARM && !CPU_V8
	bool "ARM Debug Communications Channel (DCC) serial driver"

config SERIAL_AMBA_PL011
	bool "ARM AMBA PL011 serial port support"
	depends on ARM_AMBA
	help
	  This selects the ARM(R) AMBA(R) PrimeCell PL011 UART. If you have
	  an Integrator/PP2, Integrator/CP or Versatile platform, say Y here.

	  If unsure, say N.

config DRIVER_SERIAL_AR933X
	bool "AR933X serial driver"
	depends on MACH_MIPS_ATH79
	help
	  If you have an Atheros AR933X SOC based board and want to use the
	  built-in UART of the SoC, say Y to this option.

config DRIVER_SERIAL_EFI
	bool "EFI serial"
	depends on EFI_BOOTUP

config DRIVER_SERIAL_IMX
	depends on ARCH_IMX
	default y
	bool "i.MX serial driver"

config DRIVER_SERIAL_STM32
	depends on ARCH_STM32MP
	bool "stm32mp serial driver"

config DRIVER_SERIAL_STM378X
	depends on ARCH_MXS
	default y
	bool "i.MX23/i.MX28 debug UART serial driver"

config DRIVER_SERIAL_AUART
	depends on ARCH_MXS
	bool "i.MX23/i.MX28 application UART serial driver"

config DRIVER_SERIAL_LINUX_CONSOLE
	depends on LINUX
	default y
	bool "linux console driver"

config DRIVER_SERIAL_EFI_STDIO
	depends on EFI_BOOTUP
	bool "EFI stdio driver"

config DRIVER_SERIAL_MPC5XXX
	depends on MPC5200
	default y
	bool "MPC5200 serial driver"

config DRIVER_SERIAL_CLPS711X
	depends on ARCH_CLPS711X
	default y
	bool "CLPS711X serial driver"

config DRIVER_SERIAL_ALTERA
	depends on NIOS2
	default y
	bool "Altera serial driver"

config DRIVER_SERIAL_ALTERA_JTAG
	depends on NIOS2
	default n
	bool "Altera JTAG serial driver"

config DRIVER_SERIAL_NS16550
	default n
	bool "NS16550 serial driver"
	help
	  Enable this to get support for NS16550 based serial devices

config DRIVER_SERIAL_ATMEL
	depends on ARCH_AT91
	default y
	bool "Atmel serial driver"

config DRIVER_SERIAL_NS16550_OMAP_EXTENSIONS
	bool "OMAP Extensions for NS16550"
	depends on DRIVER_SERIAL_NS16550
	depends on ARCH_OMAP
	help
	  Say Y here if you are using OMAP extensions to NS16550

config DRIVER_SERIAL_PL010
	depends on ARCH_EP93XX
	default y
	bool "ARM AMBA PL010 support"
	help
	  Enable this to get support for AMBA PL010 based serial devices

config DRIVER_SERIAL_S3C_IMPROVED
	bool

config DRIVER_SERIAL_S3C
	bool "Samsung S3C serial driver"
	depends on ARCH_SAMSUNG
	select DRIVER_SERIAL_S3C_IMPROVED if (CPU_S5PC110 || CPU_S5PV210 || CPU_S3C6410)
	default y
	help
	  Say Y here if you want to use the CONS on a Samsung S3C CPU

config DRIVER_SERIAL_S3C_AUTOSYNC
	bool "Enable auto flow"
	depends on DRIVER_SERIAL_S3C
	help
	  Say Y here if you want to use the auto flow feature of this
	  UART. RTS and CTS will be handled by the hardware when enabled.

config DRIVER_SERIAL_PXA
	bool "PXA serial driver"
	depends on ARCH_PXA

config DRIVER_SERIAL_OMAP4_USBBOOT
	bool "serial driver over omap4 usb"
	default n
	depends on OMAP4_USBBOOT
	help
	  Enable this to get console support over the usb bus used to boot an OMAP4

config DRIVER_SERIAL_CADENCE
	bool "Cadence UART driver"
	help
	  Say Y here if you have a Cadence serial IP core.

config DRIVER_SERIAL_DIGIC
	bool "Canon DIGIC serial driver"
	depends on ARCH_DIGIC

config DRIVER_SERIAL_LPUART
	depends on ARCH_VF610
	default y
	bool "LPUART serial driver"

endmenu
