menu "serial drivers                "

config DRIVER_SERIAL_IMX
	depends on ARCH_IMX
	default y
	bool "i.MX serial driver"

config DRIVER_SERIAL_NETX
	depends on ARCH_NETX
	default y
	bool "Netx serial driver"

config DRIVER_SERIAL_LINUX_COMSOLE
	depends on LINUX
	default y
	bool "linux console driver"

config DRIVER_SERIAL_MPC5XXX
	depends on MPC5200
	default y
	bool "MPC5200 serial driver"

endmenu
