# SPDX-License-Identifier: GPL-2.0-only

bin2c
fix_size
bareboxenv
bareboxcrc32
kernel-install
bareboximd
kallsyms
kwbimage
kwboot
kwboot-target
gen_netx_image
omap_signGP
mk-omap-image
mkublheader
zynq_mkimage
socfpga_mkimage
bareboxenv-target
kernel-install-target
bareboxcrc32-target
bareboximd-target
bareboxtlv
bareboxtlv-target
mk-am35xx-spi-image
mkimage
mxsimage
mxsboot
mxs-usb-loader
/omap3-usb-loader
omap4_usbboot
omap4_usbboot-target
omap3-usb-loader
omap3-usb-loader-target
rk-usb-loader
rk-usb-loader-target
rkimage
mips-relocs
keytoc
mvebuimg
prelink-riscv
