#
# Sensor device configuration
#

menu "I2C Hardware Bus support"

config I2C_IMX
	bool "i.MX I2C Master driver"
	depends on ARCH_IMX && !ARCH_IMX1

config I2C_OMAP
	bool "OMAP I2C Master driver"
	depends on ARCH_OMAP

endmenu
