# SPDX-License-Identifier: GPL-2.0-only
config ARM_AMBA
	bool

config ARM_AMBA_DABT_MASK
	bool
	prompt "Mask data abort while identifying AMBA devices" if COMPILE_TEST
	depends on ARM_AMBA && ARCH_HAS_DATA_ABORT_MASK
	help
	  Registration of an AMBA device requires reading its pid and cid
	  registers after turning on the device, which can involve enabling
	  clocks, deasserting resets and powering on power domains.
	  In some cases, these resources are not available to barebox running
	  in the normal world and thus need to be setup by a previous
	  stage bootloader running in the secure world.
	  If such setup doesn't happen, accessing devices may lead to
	  a data abort or complete system hang.

	  As a workaround for the former case, this option can be enabled
	  to gracefully handle data aborts during readout of the PID/CID
	  registers. The proper solution is fixing your first stage
	  bootloader or allow barebox access to the missing resources.
