
menu "M68k/Coldfire V4E specific settings"

config COPY_LOWMEM_VECTORS
	bool "Copy vectors to SDRAM address 0"
	default y
	help
	  This copies the vector table to SDRAM address 0 (default address)

config USE_LOWMEM_VECTORS
	bool "Use vectors at SDRAM address 0"
	default n
	depends on COPY_LOWMEM_VECTORS
	help
	  This copies the vector table to SDRAM address 0 (default address) and
	  also uses this vector location

endmenu
