if MACH_MIPS_AR231X

config ARCH_TEXT_BASE
	hex
	default 0xa0800000

choice
	prompt "Board type"

config BOARD_NETGEAR_WG102
	bool "Netgear WG102"
	select HAVE_PBL_IMAGE
	select HAVE_IMAGE_COMPRESSION

endchoice

endif
