#
# PHY Layer Configuration
#

menu "phylib"

if PHYLIB

comment "MII PHY device drivers"

config MICREL_PHY
	bool "Driver for Micrel PHYs"
	---help---
	  Supports the KSZ9021, VSC8201, KS8001 PHYs.

config SMSC_PHY
	bool "Drivers for SMSC PHYs"
	---help---
	  Currently supports the LAN83C185, LAN8187 and LAN8700 PHYs

endif

endmenu
