# SPDX-License-Identifier: GPL-2.0-only
menuconfig PWM
	bool "PWM Support"
	help
	  This enables PWM support through the generic PWM framework.
	  You only need to enable this, if you also want to enable
	  one or more of the PWM drivers below.

	  If unsure, say N.

if PWM
config PWM_PXA
	bool "PXA PWM Support"
	default y if ARCH_PXA2XX
	depends on ARCH_PXA2XX
	help
	  This enables PWM support for Intel/Marvell PXA chips, such
	  as the PXA25x, PXA27x.

config PWM_ATMEL
	bool "Atmel PWM Support"
	depends on ARCH_AT91
	help
	  This enables PWM support for Ateml AT91 SoCs

config PWM_IMX
	bool "i.MX PWM Support"
	depends on ARCH_IMX || COMPILE_TEST
	help
	  This enables PWM support for Freescale i.MX SoCs

config PWM_MXS
	bool "i.MXs PWM Support"
	depends on ARCH_MXS
	select STMP_DEVICE
	help
	  This enables PWM support for Freescale i.MX23/i.MX28 SoCs

config PWM_STM32
	bool "STM32 PWM Support"
	depends on ARCH_STM32 || COMPILE_TEST
	help
	  This enables PWM support for STM32 MCUs and MPUs.

config PWM_ROCKCHIP
	tristate "Rockchip PWM support"
	depends on ARCH_ROCKCHIP || COMPILE_TEST
	help
	  Generic PWM framework driver for the PWM controller found on
	  Rockchip SoCs.

endif
