menuconfig PWM
	bool "PWM Support"
	help
	  This enables PWM support through the generic PWM framework.
	  You only need to enable this, if you also want to enable
	  one or more of the PWM drivers below.

	  If unsure, say N.

if PWM
config PWM_PXA
	bool "PXA PWM Support"
	default y if ARCH_PXA2XX
	depends on ARCH_PXA2XX
	help
	  This enables PWM support for Intel/Marvell PXA chips, such
	  as the PXA25x, PXA27x.

config PWM_IMX
	bool "i.MX PWM Support"
	depends on ARCH_IMX
	help
	  This enables PWM support for Freescale i.MX SoCs

config PWM_MXS
	bool "i.MXs PWM Support"
	depends on ARCH_MXS
	help
	  This enables PWM support for Freescale i.MX23/i.MX28 SoCs

config PWM_STM32
	bool "STM32 PWM Support"
	depends on ARCH_STM32MP
	help
	  This enables PWM support for STM32 MCUs and MPUs.

endif
