if ARCH_CLPS711X

choice
	prompt "Cirrus Logic EP711x/EP721x/EP731x Board Type"

config MACH_CLEP7212
	bool "Cirrus Logic CLEP7212"
	help
	  Boards based on the Cirrus Logic 7212/7312 CPU.

endchoice

menu "CLPS711X specific settings"

config CLPS711X_CPU_PLL_MULT
	int "CPU PLL multiplier (20-50)"
	range 20 50
	default "40"
	help
	  Define CPU PLL multiplier. PLL is calculated by formula:
	    PLL Frequency = (PLL Multiplier / 2) * 3686400 Hz
	  Default value is 40, for achieve 73 MHz.

endmenu

config BOARDINFO
	default "Cirrus Logic CLEP7212" if MACH_CLEP7212

config ARCH_TEXT_BASE
	hex
	default 0xc0780000 if MACH_CLEP7212

config BAREBOX_MAX_IMAGE_SIZE
	hex
	default 0x00080000 if MACH_CLEP7212

endif
