if ARCH_CLPS711X

choice
	prompt "Cirrus Logic EP711x/EP721x/EP731x Board Type"

config MACH_CLEP7212
	bool "Cirrus Logic CLEP7212"
	select HAVE_DEFAULT_ENVIRONMENT_NEW
	help
	  Boards based on the Cirrus Logic 7212/7312 CPU.

endchoice

menu "CLPS711X specific settings"

config CLPS711X_RAISE_CPUFREQ
	bool "Raise CPU frequency to 90 MHz"
	depends on MACH_CLEP7212
	help
	  Raise CPU frequency to 90 MHz. This operation can be performed
	  only for devices which allow to operate at 90 MHz.
	  If option is not selected, CPU frequency will set to default 73 MHz.

endmenu

config ARCH_TEXT_BASE
	hex
	default 0xc0780000 if MACH_CLEP7212

config BAREBOX_MAX_IMAGE_SIZE
	hex
	default 0x00080000 if MACH_CLEP7212

endif
