/dts-v1/;

/ {
	model = "Sandbox";
	compatible = "barebox,sandbox";

	#address-cells = <2>;
	#size-cells = <2>;

	aliases {
	};

	chosen {
	};

	memory {
		device_type = "memory";
		reg = <0 0 0 0>;
	};
};
