menuconfig REGULATOR
	bool "voltage regulator support"

if REGULATOR

config REGULATOR_FIXED
	bool "fixed/gpio regulator"
	depends on GENERIC_GPIO
	depends on OFDEVICE
	help
	  This enables a simple fixed regulator. It is used for regulators
	  which are not software controllable or controllable via gpio.

config REGULATOR_BCM2835
	bool
	depends on ARCH_BCM2835
	default y

endif
