menuconfig REGULATOR
	bool "voltage regulator support"

if REGULATOR

config REGULATOR_FIXED
	bool "fixed/gpio regulator"
	depends on GENERIC_GPIO
	depends on OFDEVICE
	help
	  This enables a simple fixed regulator. It is used for regulators
	  which are not software controllable or controllable via gpio.

config REGULATOR_BCM283X
	bool
	depends on ARCH_BCM283X
	default y

config REGULATOR_PFUZE
	bool "Freescale PFUZE100/200/3000 regulator driver"
	depends on I2C
	depends on ARCH_IMX6

endif
