# SPDX-License-Identifier: GPL-2.0-only
config VIRTIO_BLK
        bool "Virtio block driver"
        depends on VIRTIO
        help
          This is the virtual block driver for virtio.  It can be used with
          QEMU based VMMs (like KVM or Xen).
