menu "Pin controllers"

config PINCTRL
	bool "Pin controller core support"
	depends on OFDEVICE
	help
	  Pincontrollers allow to setup the iomux unit of SoCs. The pin
	  controller core is needed when pin muxing shall be configured
	  from the devicetree. Legacy drivers here may not need this core
	  support but instead provide their own SoC specific APIs

config PINCTRL_IMX_IOMUX_V1
	bool "i.MX iomux v1"
	help
	  This iomux controller is found on i.MX1,21,27.

config PINCTRL_IMX_IOMUX_V2
	bool "i.MX iomux v2"
	help
	  This iomux controller is found on i.MX31.

config PINCTRL_IMX_IOMUX_V3
	select PINCTRL if OFDEVICE
	bool "i.MX iomux v3"
	help
	  This iomux controller is found on i.MX25,35,51,53,6.

config PINCTRL_TEGRA20
	select PINCTRL
	bool "Tegra 20 pinmux"
	help
	  The pinmux controller found on the Tegra 20 line of SoCs.

endmenu
