menu "Pin controllers"

config PINCTRL
	bool "Pin controller core support"
	default y if OFDEVICE
	help
	  Pincontrollers allow to setup the iomux unit of SoCs. The pin
	  controller core is needed when pin muxing shall be configured
	  from the devicetree. Legacy drivers here may not need this core
	  support but instead provide their own SoC specific APIs

# The following drivers are needed even without PINCTRL because
# the either have a legacy iomux interface or also register a gpio
# chip.
config PINCTRL_AT91
	bool
	help
	    The pinmux controller found on AT91 SoCs.

config PINCTRL_AT91PIO4
        bool "AT91 PIO4 pinctrl driver"
        depends on OFDEVICE
        depends on ARCH_AT91
        select GPIOLIB
        select OF_GPIO
        help
          Say Y here to enable the at91 pinctrl/gpio driver for Atmel PIO4
          controller available on sama5d2 SoC.

config PINCTRL_BCM283X
	bool "GPIO and pinmux support for BCM283X"
	depends on ARCH_BCM283X
	help
	    The pinmux controller on BCM2835

config PINCTRL_IMX_IOMUX_V1
	bool
	help
	  This iomux controller is found on i.MX1,21,27.

config PINCTRL_IMX_IOMUX_V2
	bool
	help
	  This iomux controller is found on i.MX31.

config PINCTRL_IMX_IOMUX_V3
	bool
	help
	  This iomux controller is found on i.MX25,35,51,53,6.

if PINCTRL

if !OFDEVICE
comment "OFDEVICE is not enabled."
comment "Without device tree support PINCTRL won't do anything"
endif

config PINCTRL_MXS
	bool "MXS pinctrl"
	depends on ARCH_MXS
	default ARCH_MXS
	help
	  This pinmux controller is found on i.MX23,28

config PINCTRL_ROCKCHIP
	select GPIO_GENERIC
	select MFD_SYSCON
	bool
	help
	  The pinmux controller found on Rockchip SoCs.

config PINCTRL_SINGLE
	bool "pinctrl single"

config PINCTRL_TEGRA20
	bool
	default y if ARCH_TEGRA_2x_SOC
	help
	  The pinmux controller found on the Tegra 20 line of SoCs.

config PINCTRL_TEGRA30
	bool
	default y if ARCH_TEGRA_3x_SOC
	default y if ARCH_TEGRA_124_SOC
	help
	  The pinmux controller found on the Tegra 30+ line of SoCs.

config PINCTRL_TEGRA_XUSB
	bool
	default y if ARCH_TEGRA_124_SOC
	select GENERIC_PHY
	help
	  The pinmux controller found on the Tegra 124 line of SoCs used for
	  the SerDes lanes.

source "drivers/pinctrl/mvebu/Kconfig"

config PINCTRL_VF610
	bool
	default y if ARCH_VF610
	help
	  Pinmux controller found on Vybrid VF610 family of SoCs

config PINCTRL_STM32
	bool
	default y if ARCH_STM32MP
	help
	  Pinmux and GPIO controller found on STM32 family
endif

endmenu
