# SPDX-License-Identifier: GPL-2.0-only

menuconfig NET
	bool "Networking Support"
	select POLLER

if NET

config NET_ETHADDR_FROM_MACHINE_ID
	bool
	prompt "generate stable Ethernet address"
	depends on MACHINE_ID && HAVE_DIGEST_SHA256 && HAVE_DIGEST_HMAC
	help
	  By default, barebox will generate random Ethernet addresses for
	  interfaces that had no explicit Ethernet address set via
	  either board code or NVMEM properties in device tree.

	  Say y here, to randomize Ethernet addresses only if no machine ID
	  is available. Should barebox have a machine ID, it will be used
	  alongside the hostname to generate MAC addresses that are unlikely
	  to change between subsequent runs of barebox.

	  This is not recommended for use in production as it may leak
	  information about the machine ID.

config NET_NFS
	bool
	prompt "nfs support"

config NET_NETCONSOLE
	bool
	depends on !CONSOLE_NONE
	prompt "network console support"
	help
	  This option adds support for a simple udp based network console.

config NET_RESOLV
	bool
	prompt "dns support"

config NET_IFUP
	default y
	bool

config NET_DHCP
	bool
	prompt "dhcp support"

config NET_SNTP
	bool
	prompt "sntp support"

config NET_FASTBOOT
	bool
	select BANNER
	select FASTBOOT_BASE
	prompt "Android Fastboot support"
	help
	  This option adds support for the UDP variant of the Fastboot
	  protocol.

endif
