menuconfig NET
	bool "Networking support"


if NET

config NET_BOOTP
	bool
	prompt "bootp support"

config NET_DHCP
	bool
	depends on NET_BOOTP
	prompt "dhcp support"

config NET_RARP
	bool
	prompt "rarp protocol support"

config NET_SNTP
	bool
	prompt "sntp support"

config NET_NFS
	bool
	prompt "nfs support"

config NET_PING
	bool
	prompt "ping support"

config NET_TFTP
	bool
	prompt "tftp support"
endif
