config ARCH_SAMSUNG
	bool

if ARCH_SAMSUNG

config ARCH_TEXT_BASE
	hex
	default 0x31fc0000 if MACH_MINI2440
	default 0x57fc0000 if MACH_MINI6410
	default 0x57fc0000 if MACH_TINY6410
	default 0x31fc0000 if MACH_A9M2440
	default 0x31fc0000 if MACH_A9M2410
	default 0x23e00000 if MACH_TINY210

config ARCH_BAREBOX_MAX_BARE_INIT_SIZE
	hex
	default 0x1ff0 if ARCH_S5PCxx
# TODO
	default 0x2000 if ARCH_S3C64xx

if ARCH_S3C24xx

config CPU_S3C2410
	bool

config CPU_S3C2440
	bool

choice
	prompt "S3C24xx Board Type"

config MACH_A9M2410
	bool "Digi A9M2410"
	select CPU_S3C2410
	select S3C_PLL_INIT
	select S3C_SDRAM_INIT
	help
	  Say Y here if you are using Digi's Connect Core 9M equipped
	  with a Samsung S3C2410 Processor

config MACH_A9M2440
	bool "Digi A9M2440"
	select CPU_S3C2440
	select S3C_PLL_INIT
	help
	  Say Y here if you are using Digi's Connect Core 9M equipped
	  with a Samsung S3C2440 Processor

config MACH_MINI2440
	bool "Mini 2440"
	select CPU_S3C2440
	select S3C_PLL_INIT
	select S3C_SDRAM_INIT
	select HAS_DM9000
	help
	  Say Y here if you are using Mini 2440 dev board equipped
	  with a Samsung S3C2440 Processor

endchoice

menu "Board specific settings"

choice
	prompt "A9M2440 baseboard"
	depends on MACH_A9M2440

config MACH_A9M2410DEV
	bool
	prompt "A9M2410dev"
	select HAS_CS8900
	help
	  Digi's evaluation board.

endchoice

source arch/arm/boards/friendlyarm-mini2440/Kconfig

endmenu

endif

if ARCH_S3C64xx

config CPU_S3C6410
	bool

choice
	prompt "S3C64xx Board Type"

config MACH_MINI6410
	bool "Mini 6410"
	select CPU_S3C6410
	select HAS_DM9000
	help
	  Say Y here if you are using FriendlyARM Mini6410 board equipped
	  with a Samsung S3C6410 Processor

config MACH_TINY6410
	bool "Tiny 6410"
	select CPU_S3C6410
	help
	  Say Y here if you are using FriendlyARM Tiny6410 CPU card equipped
	  with a Samsung S3C6410 Processor

endchoice

menu "Board specific settings"

source arch/arm/boards/friendlyarm-tiny6410/Kconfig

endmenu

endif

if ARCH_S5PCxx

config CPU_S5PC110
	bool

config CPU_S5PV210
	bool

choice
	prompt "S5PCxx board type"

config MACH_TINY210
	bool "Tiny 210"
	select CPU_S5PV210
	select S3C_SDRAM_INIT

endchoice

endif

menu "S3C Features"

config S3C_LOWLEVEL_INIT
	bool

config S3C_PLL_INIT
	bool
	prompt "Reconfigure PLL"
	select S3C_LOWLEVEL_INIT
	help
	  This adds generic code to reconfigure the internal PLL very early
	  after reset.

config S3C_SDRAM_INIT
	bool
	prompt "Initialize SDRAM"
	select S3C_LOWLEVEL_INIT
	help
	  This adds generic code to configure the SDRAM controller after reset.
	  The initialisation will be skipped if the code is already running
	  from SDRAM.

config S3C_NAND_BOOT
	bool
	prompt "Booting from NAND"
	depends on ARCH_S3C24xx
	select MTD
	select NAND
	select NAND_S3C24XX
	help
	  Add generic support to boot from NAND flash. Image loading will be
	  skipped if the code is running from NOR or already from SDRAM.

config BAREBOX_UPDATE_NAND_S3C24XX
	bool
	depends on BAREBOX_UPDATE
	depends on S3C_NAND_BOOT
	default y

endmenu

endif
