if ARCH_AT91RM9200

config ARCH_TEXT_BASE
	hex
	default 0x21e00000 if MACH_ECO920

config BOARDINFO

comment "Atmel AT91RM9200 System-on-Chip"

choice

	prompt "AT91RM9200 Board Type"

config MACH_ECO920
	bool "eco920"
	select HAS_AT91_ETHER
	select HAS_CFI
	help
	  Say Y here if you are using the Motorola MX1ADS board

endchoice

endif
